In [1]:
import numpy as np # library to handle data in a vectorized manner
!pip install bs4
from bs4 import BeautifulSoup
import requests
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
# before clustering we need to normalize data
from sklearn import preprocessing
#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/3b/c8/a55eb6ea11cd7e5ac4bacdf92bac4693b90d3ba79268be16527555e186f0/beautifulsoup4-4.8.1-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 18.3MB/s ta 0:00:01
Collecting soupsieve>=1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.8.1 bs4-0.0.1 soupsieve-1.9.5
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.2 MB

The following NEW packages will be INSTALLED:

    geographiclib: 1.50-py_0         conda-forge
    geopy:         1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    openssl:       1.1.1c-h516909a_0 conda-forge --> 1.1.1d-h516909a_0 conda-forge


Downloading and Extracting Packages
geopy-1.20.0         | 57 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [2]:
address = 'London'

geolocator = Nominatim(user_agent="london_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Paris are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Paris are 51.5073219, -0.1276474.

In [2]:
# in case the above cell didn't work
latitude = 51.5073219
longitude = -0.1276474

Let's import the dataframe containing additional information about boroughs

In [35]:
df = pd.read_csv('london-borough-profiles.csv',encoding = 'unicode_escape')
area_names = df['Area_name'].values
df.head()

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),Net_international_migration_(2015),Net_natural_change_(2015),%_of_resident_population_born_abroad_(2015),Largest_migrant_population_by_country_of_birth_(2011),%_of_largest_migrant_population_(2011),Second_largest_migrant_population_by_country_of_birth_(2011),%_of_second_largest_migrant_population_(2011),Third_largest_migrant_population_by_country_of_birth_(2011),%_of_third_largest_migrant_population_(2011),%_of_population_from_BAME_groups_(2016),%_people_aged_3+_whose_main_language_is_not_English_(2011_Census),"Overseas_nationals_entering_the_UK_(NINo),_(2015/16)","New_migrant_(NINo)_rates,_(2015/16)",Largest_migrant_population_arrived_during_2015/16,Second_largest_migrant_population_arrived_during_2015/16,Third_largest_migrant_population_arrived_during_2015/16,Employment_rate_(%)_(2015),Male_employment_rate_(2015),Female_employment_rate_(2015),Unemployment_rate_(2015),Youth_Unemployment_(claimant)_rate_18-24_(Dec-15),Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014),Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016),%_working-age_with_a_disability_(2015),Proportion_of_working_age_people_with_no_qualifications_(%)_2015,Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015,"Gross_Annual_Pay,_(2016)",Gross_Annual_Pay_-_Male_(2016),Gross_Annual_Pay_-_Female_(2016),Modelled_Household_median_income_estimates_2012/13,%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13),Number_of_jobs_by_workplace_(2014),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Crime_rates_per_thousand_population_2014/15,Fires_per_thousand_population_(2014),Ambulance_incidents_per_hundred_population_(2014),"Median_House_Price,_2015","Average_Band_D_Council_Tax_charge_(£),_2015/16",New_Homes_(net)_2015/16_(provisional),"Homes_Owned_outright,_(2014)_%","Being_bought_with_mortgage_or_loan,_(2014)_%","Rented_from_Local_Authority_or_Housing_Association,_(2014)_%","Rented_from_Private_landlord,_(2014)_%","%_of_area_that_is_Greenspace,_2005",Total_carbon_emissions_(2014),"Household_Waste_Recycling_Rate,_2014/15","Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)","%_of_adults_who_cycle_at_least_once_per_month,_2014/15","Average_Public_Transport_Accessibility_score,_2014","Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14",Rates_of_Children_Looked_After_(2016),%_of_pupils_whose_first_language_is_not_English_(2015),%_children_living_in_out-of-work_households_(2015),"Male_life_expectancy,_(2012-14)","Female_life_expectancy,_(2012-14)",Teenage_conception_rate_(2014),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
0,E09000001,City of London,Inner London,8800,5326,290,30.3,43.2,11.4,73.1,15.5,-7,665,30,.,United States,2.8,France,2,Australia,1.9,27.5,17.1,975,152.2,India,France,United States,64.6,.,.,.,1.6,.,3.4,.,.,.,.,.,.,"£63,620",.,500400,3.4,84.3,26130,64.3,.,12.3,.,799999,931.2,80,.,.,.,.,4.8,1036,34.4,1692,0.4,16.9,7.9,78.6,101,.,7.9,.,.,.,6.6,7.1,6.0,5.6,NaN,2.6,129,.,.,.,.,.
1,E09000002,Barking and Dagenham,Outer London,209000,78188,"3,611",57.9,32.9,27.2,63.1,9.7,-1176,2509,2356,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,"7,538",59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11,4.5,5.7,10.5,17.2,11.3,32.2,27886,30104,24602,"£29,420",20.5,58900,21.1,0.5,6560,73.0,83.4,3,13.7,243500,1354.03,730,16.4,27.4,35.9,20.3,33.6,644,23.4,56966,0.8,8.8,3,58,69,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228,Lab,0,100,0,36.5
2,E09000003,Barnet,Outer London,389600,151423,"8,675",44.9,37.3,21.1,64.9,14.0,-3379,5407,2757,35.2,India,3.1,Poland,2.4,Iran,2,38.7,23.4,"13,094",53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49,33443,36475,31235,"£40,530",33.2,167300,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000,1397.07,1460,32.4,25.2,11.1,31.1,41.3,1415,38,144717,1.1,7.4,3,67.3,35,46,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134,Cons,50.8,.,1.6,40.5
3,E09000004,Bexley,Outer London,244300,97736,"6,058",40.3,39.0,20.6,62.9,16.6,413,760,1095,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6,"2,198",14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350,37881,28924,"£36,990",22.1,80700,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000,1472.43,-130,38.1,35.3,15.2,11.4,31.7,975,54,108507,1.2,10.6,2.6,60.3,46,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164,Cons,71.4,23.8,0,39.6
4,E09000005,Brent,Outer London,332100,121048,"4,323",76.8,35.6,20.9,67.8,11.3,-7739,7640,3372,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,"22,162",100.9,Romania,Italy,Portugal,69.5,76,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812,30129,29600,"£32,140",17.3,133600,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250,1377.24,1050,22.2,22.6,20.4,34.8,21.9,1175,35.2,87802,0.8,7.9,3.7,60.1,45,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169,Lab,9.5,88.9,1.6,36.3

Let's parse the web to get the latitudes and longitudes of each Area_name because we don't have them in this dataset

In [22]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_London_boroughs').text
soup = BeautifulSoup(source,'html.parser')

In [23]:
# There are two tables we need in this page
table = soup.find_all('table')
print(len(table))

5

In [24]:
# By looking at the page we only need the first two tables
boroughs = table[0]
city_of_london = table[1]

In [25]:
boroughs_area_names = [x.contents for x in boroughs.find_all('a') if x.contents in area_names]
city_of_london_name = [x.contents for x in city_of_london.find_all('a') if x.contents in area_names][0]
print(city_of_london_name)
boroughs_area_names.append(city_of_london_name)
list_of_names = [x[0] for x in boroughs_area_names]
print(list_of_names)
print(len(list_of_names))

['City of London']
['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster', 'City of London']
33

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

In [26]:
# Now that we have all area names, we will get their respective coordinates
boroughs_geo = [x.contents for x in boroughs.find_all('span', {"class": "geo"})]
city_of_london_geo = [x.contents for x in city_of_london.find_all('span', {"class": "geo"})][0]
print(city_of_london_geo)
boroughs_geo.append(city_of_london_geo)
print(boroughs_geo)

['51.5155; -0.0922']
[['51.5607; 0.1557'], ['51.6252; -0.1517'], ['51.4549; 0.1505'], ['51.5588; -0.2817'], ['51.4039; 0.0198'], ['51.5290; -0.1255'], ['51.3714; -0.0977'], ['51.5130; -0.3089'], ['51.6538; -0.0799'], ['51.4892; 0.0648'], ['51.5450; -0.0553'], ['51.4927; -0.2339'], ['51.6000; -0.1119'], ['51.5898; -0.3346'], ['51.5812; 0.1837'], ['51.5441; -0.4760'], ['51.4746; -0.3680'], ['51.5416; -0.1022'], ['51.5020; -0.1947'], ['51.4085; -0.3064'], ['51.4607; -0.1163'], ['51.4452; -0.0209'], ['51.4014; -0.1958'], ['51.5077; 0.0469'], ['51.5590; 0.0741'], ['51.4479; -0.3260'], ['51.5035; -0.0804'], ['51.3618; -0.1945'], ['51.5099; -0.0059'], ['51.5908; -0.0134'], ['51.4567; -0.1910'], ['51.4973; -0.1372'], ['51.5155; -0.0922']]

In [27]:
# Now we will separate the coordinates into two columns : latitude and longitude
latitudes, longitudes = [], []
for g in boroughs_geo:
    split = g[0].split('; ')
    latitudes.append(split[0])
    longitudes.append(split[1])
print(latitudes)

['51.5607', '51.6252', '51.4549', '51.5588', '51.4039', '51.5290', '51.3714', '51.5130', '51.6538', '51.4892', '51.5450', '51.4927', '51.6000', '51.5898', '51.5812', '51.5441', '51.4746', '51.5416', '51.5020', '51.4085', '51.4607', '51.4452', '51.4014', '51.5077', '51.5590', '51.4479', '51.5035', '51.3618', '51.5099', '51.5908', '51.4567', '51.4973', '51.5155']

Finally, let's create the dataframe

In [28]:
geo_df = pd.DataFrame({'Area_name':list_of_names,'latitude':latitudes,'longitude':longitudes})
geo_df.head()

              Area_name latitude longitude
0  Barking and Dagenham  51.5607    0.1557
1                Barnet  51.6252   -0.1517
2                Bexley  51.4549    0.1505
3                 Brent  51.5588   -0.2817
4               Bromley  51.4039    0.0198

Let's finally merge the two dataframe into one

In [36]:
merged_df = pd.merge(df,geo_df,'left',on='Area_name')
merged_df.head()

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),Net_international_migration_(2015),Net_natural_change_(2015),%_of_resident_population_born_abroad_(2015),Largest_migrant_population_by_country_of_birth_(2011),%_of_largest_migrant_population_(2011),Second_largest_migrant_population_by_country_of_birth_(2011),%_of_second_largest_migrant_population_(2011),Third_largest_migrant_population_by_country_of_birth_(2011),%_of_third_largest_migrant_population_(2011),%_of_population_from_BAME_groups_(2016),%_people_aged_3+_whose_main_language_is_not_English_(2011_Census),"Overseas_nationals_entering_the_UK_(NINo),_(2015/16)","New_migrant_(NINo)_rates,_(2015/16)",Largest_migrant_population_arrived_during_2015/16,Second_largest_migrant_population_arrived_during_2015/16,Third_largest_migrant_population_arrived_during_2015/16,Employment_rate_(%)_(2015),Male_employment_rate_(2015),Female_employment_rate_(2015),Unemployment_rate_(2015),Youth_Unemployment_(claimant)_rate_18-24_(Dec-15),Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014),Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016),%_working-age_with_a_disability_(2015),Proportion_of_working_age_people_with_no_qualifications_(%)_2015,Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015,"Gross_Annual_Pay,_(2016)",Gross_Annual_Pay_-_Male_(2016),Gross_Annual_Pay_-_Female_(2016),Modelled_Household_median_income_estimates_2012/13,%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13),Number_of_jobs_by_workplace_(2014),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Crime_rates_per_thousand_population_2014/15,Fires_per_thousand_population_(2014),Ambulance_incidents_per_hundred_population_(2014),"Median_House_Price,_2015","Average_Band_D_Council_Tax_charge_(£),_2015/16",New_Homes_(net)_2015/16_(provisional),"Homes_Owned_outright,_(2014)_%","Being_bought_with_mortgage_or_loan,_(2014)_%","Rented_from_Local_Authority_or_Housing_Association,_(2014)_%","Rented_from_Private_landlord,_(2014)_%","%_of_area_that_is_Greenspace,_2005",Total_carbon_emissions_(2014),"Household_Waste_Recycling_Rate,_2014/15","Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)","%_of_adults_who_cycle_at_least_once_per_month,_2014/15","Average_Public_Transport_Accessibility_score,_2014","Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14",Rates_of_Children_Looked_After_(2016),%_of_pupils_whose_first_language_is_not_English_(2015),%_children_living_in_out-of-work_households_(2015),"Male_life_expectancy,_(2012-14)","Female_life_expectancy,_(2012-14)",Teenage_conception_rate_(2014),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections,latitude,longitude
0,E09000001,City of London,Inner London,8800,5326,290,30.3,43.2,11.4,73.1,15.5,-7,665,30,.,United States,2.8,France,2,Australia,1.9,27.5,17.1,975,152.2,India,France,United States,64.6,.,.,.,1.6,.,3.4,.,.,.,.,.,.,"£63,620",.,500400,3.4,84.3,26130,64.3,.,12.3,.,799999,931.2,80,.,.,.,.,4.8,1036,34.4,1692,0.4,16.9,7.9,78.6,101,.,7.9,.,.,.,6.6,7.1,6.0,5.6,NaN,2.6,129,.,.,.,.,.,51.5155,-0.0922
1,E09000002,Barking and Dagenham,Outer London,209000,78188,"3,611",57.9,32.9,27.2,63.1,9.7,-1176,2509,2356,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,"7,538",59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11,4.5,5.7,10.5,17.2,11.3,32.2,27886,30104,24602,"£29,420",20.5,58900,21.1,0.5,6560,73.0,83.4,3,13.7,243500,1354.03,730,16.4,27.4,35.9,20.3,33.6,644,23.4,56966,0.8,8.8,3,58,69,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228,Lab,0,100,0,36.5,51.5607,0.1557
2,E09000003,Barnet,Outer London,389600,151423,"8,675",44.9,37.3,21.1,64.9,14.0,-3379,5407,2757,35.2,India,3.1,Poland,2.4,Iran,2,38.7,23.4,"13,094",53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49,33443,36475,31235,"£40,530",33.2,167300,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000,1397.07,1460,32.4,25.2,11.1,31.1,41.3,1415,38,144717,1.1,7.4,3,67.3,35,46,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134,Cons,50.8,.,1.6,40.5,51.6252,-0.1517
3,E09000004,Bexley,Outer London,244300,97736,"6,058",40.3,39.0,20.6,62.9,16.6,413,760,1095,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6,"2,198",14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350,37881,28924,"£36,990",22.1,80700,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000,1472.43,-130,38.1,35.3,15.2,11.4,31.7,975,54,108507,1.2,10.6,2.6,60.3,46,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164,Cons,71.4,23.8,0,39.6,51.4549,0.1505
4,E09000005,Brent,Outer London,332100,121048,"4,323",76.8,35.6,20.9,67.8,11.3,-7739,7640,3372,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,"22,162",100.9,Romania,Italy,Portugal,69.5,76,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812,30129,29600,"£32,140",17.3,133600,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250,1377.24,1050,22.2,22.6,20.4,34.8,21.9,1175,35.2,87802,0.8,7.9,3.7,60.1,45,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169,Lab,9.5,88.9,1.6,36.3,51.5588,-0.2817

In [37]:
# Careful when looking at the end of the dataframe we see statistics about area that are not boroughs -> United-Kingdom...
# We need to drop those rows as we will only focus on boroughs
print(merged_df.tail())
merged_df = merged_df.drop([33,34,35,36,37])

         Code       Area_name Inner/_Outer_London  \
33  E13000001    Inner London                 NaN
34  E13000002    Outer London                 NaN
35  E12000007          London                 NaN
36  E92000001         England                 NaN
37  K02000001  United Kingdom                 NaN

    GLA_Population_Estimate_2017 GLA_Household_Estimate_2017  \
33                       3535700                     1522541
34                       5299800                     2079422
35                       8835500                     3601963
36                      55609600                           .
37                      65999100                           .

   Inland_Area_(Hectares) Population_density_(per_hectare)_2017  \
33                 31,929                                 110.7
34                125,424                                  42.3
35                157,215                                  56.2
36             13,025,967                                     .
37                      .                                     .

    Average_Age,_2017  Proportion_of_population_aged_0-15,_2015  \
33               34.7                                      38.5
34               36.9                                      13.8
35               36.0                                      13.9
36               40.0                                      19.0
37               40.1                                      18.8

    Proportion_of_population_of_working-age,_2015  \
33                                           54.7
34                                           71.7
35                                           73.6
36                                           63.3
37                                           63.3

    Proportion_of_population_aged_65_and_over,_2015  \
33                                              6.8
34                                             14.5
35                                             12.5
36                                             17.7
37                                             17.8

   Net_internal_migration_(2015) Net_international_migration_(2015)  \
33                       -45,138                             78,597
34                       -44,178                             82,685
35                       -77,535                            133,901
36                        -7,596                            313,240
37                             .                                  .

   Net_natural_change_(2015) %_of_resident_population_born_abroad_(2015)  \
33                    47,151                                        40.1
34                    45,788                                        34.2
35                    78,370                                        36.6
36                   165,096                                        14.6
37                         .                                        13.3

   Largest_migrant_population_by_country_of_birth_(2011)  \
33                                         Bangladesh
34                                              India
35                                              India
36                                              India
37                                                  .

   %_of_largest_migrant_population_(2011)  \
33                                    2.5
34                                    4.1
35                                    3.2
36                                    1.3
37                                      .

   Second_largest_migrant_population_by_country_of_birth_(2011)  \
33                                              India
34                                             Poland
35                                             Poland
36                                             Poland
37                                                  .

   %_of_second_largest_migrant_population_(2011)  \
33                                           1.8
34                                           2.1
35                                           1.9
36                                           1.1
37                                             .

   Third_largest_migrant_population_by_country_of_birth_(2011)  \
33                                            Ireland
34                                           Pakistan
35                                            Ireland
36                                           Pakistan
37                                                  .

   %_of_third_largest_migrant_population_(2011)  \
33                                          1.7
34                                          1.6
35                                          1.6
36                                          0.9
37                                            .

   %_of_population_from_BAME_groups_(2016)  \
33                                    43.1
34                                    42.1
35                                    42.5
36                                       .
37                                       .

   %_people_aged_3+_whose_main_language_is_not_English_(2011_Census)  \
33                                               25.2
34                                               20.1
35                                               22.1
36                                                  8
37                                                  .

   Overseas_nationals_entering_the_UK_(NINo),_(2015/16)  \
33                                            158,381
34                                            158,973
35                                            318,543
36                                            752,289
37                                            823,384

    New_migrant_(NINo)_rates,_(2015/16)  \
33                                 63.1
34                                 46.8
35                                 53.9
36                                 21.7
37                                 20.0

   Largest_migrant_population_arrived_during_2015/16  \
33                                             Italy
34                                           Romania
35                                           Romania
36                                           Romania
37                                           Romania

   Second_largest_migrant_population_arrived_during_2015/16  \
33                                            Romania
34                                             Poland
35                                              Italy
36                                             Poland
37                                             Poland

   Third_largest_migrant_population_arrived_during_2015/16  \
33                                              Spain
34                                              Italy
35                                              Spain
36                                              Italy
37                                              Italy

    Employment_rate_(%)_(2015) Male_employment_rate_(2015)  \
33                        72.3                          78
34                        73.3                        80.3
35                        72.9                        79.3
36                        73.9                        79.1
37                        73.5                        78.5

   Female_employment_rate_(2015) Unemployment_rate_(2015)  \
33                          66.6                      6.4
34                          66.4                      5.9
35                          66.5                      6.1
36                          68.6                      5.1
37                          68.5                      5.3

   Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)  \
33                                               4.1
34                                               3.2
35                                               3.6
36                                               3.1
37                                                 .

   Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014)  \
33                                                3.3
34                                                3.4
35                                                3.4
36                                                4.7
37                                                  .

   Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)  \
33                                                8.6
34                                                  7
35                                                7.7
36                                                8.7
37                                                  .

   %_working-age_with_a_disability_(2015)  \
33                                   15.6
34                                   16.4
35                                   16.1
36                                   19.2
37                                   19.5

   Proportion_of_working_age_people_with_no_qualifications_(%)_2015  \
33                                                7.2
34                                                7.3
35                                                7.3
36                                                8.4
37                                                8.8

   Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015  \
33                                                 57
34                                               44.7
35                                               49.9
36                                               36.7
37                                               36.9

   Gross_Annual_Pay,_(2016) Gross_Annual_Pay_-_Male_(2016)  \
33                        .                              .
34                        .                              .
35                    33776                          36697
36                    28503                          30943
37                    28213                          30567

   Gross_Annual_Pay_-_Female_(2016)  \
33                                .
34                                .
35                            30979
36                            24965
37                            24833

   Modelled_Household_median_income_estimates_2012/13  \
33                                            £40,290
34                                            £38,360
35                                            £39,110
36                                                  .
37                                            £30,600

   %_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13)  \
33                                                  .
34                                                  .
35                                               25.7
36                                               24.5
37                                                  .

   Number_of_jobs_by_workplace_(2014)  \
33                            3442500
34                            2190400
35                            5633400
36                           28556100
37                                  .

    %_of_employment_that_is_in_public_sector_(2014)  Jobs_Density,_2015  \
33                                             14.4                 1.4
34                                             16.8                 0.7
35                                             15.3                 1.0
36                                             16.8                 0.8
37                                             17.6                 0.8

    Number_of_active_businesses,_2015  \
33                             287585
34                             253725
35                             541310
36                            2348065
37                            2672025

    Two-year_business_survival_rates_(started_in_2013)  \
33                                               71.0
34                                               75.2
35                                               73.0
36                                               75.1
37                                               75.0

   Crime_rates_per_thousand_population_2014/15  \
33                                       106.4
34                                        69.4
35                                          84
36                                        65.7
37                                           .

   Fires_per_thousand_population_(2014)  \
33                                  2.6
34                                  2.1
35                                  2.3
36                                    .
37                                    .

   Ambulance_incidents_per_hundred_population_(2014) Median_House_Price,_2015  \
33                                              13.1                   495000
34                                              11.8                   350000
35                                              12.3                   399950
36                                                 .                   209995
37                                                 .                        .

   Average_Band_D_Council_Tax_charge_(£),_2015/16  \
33                                              .
34                                              .
35                                              .
36                                              .
37                                              .

   New_Homes_(net)_2015/16_(provisional) Homes_Owned_outright,_(2014)_%  \
33                                     .                           14.6
34                                     .                           27.3
35                                     .                             22
36                                     .                           32.1
37                                     .                           32.3

   Being_bought_with_mortgage_or_loan,_(2014)_%  \
33                                         22.2
34                                           32
35                                         27.9
36                                         31.8
37                                         31.8

   Rented_from_Local_Authority_or_Housing_Association,_(2014)_%  \
33                                               32.1
34                                               16.7
35                                               23.1
36                                               17.5
37                                               17.9

   Rented_from_Private_landlord,_(2014)_% %_of_area_that_is_Greenspace,_2005  \
33                                   30.9                               21.7
34                                   23.9                               42.5
35                                   26.8                               38.3
36                                   18.5                               87.5
37                                   17.9                                  .

   Total_carbon_emissions_(2014) Household_Waste_Recycling_Rate,_2014/15  \
33                             .                                       .
34                             .                                       .
35                         35817                                    33.1
36                        324054                                    43.7
37                        403797                                       .

    Number_of_cars,_(2011_Census)  \
33                         725356
34                        1939058
35                        2664414
36                       25696833
37                       30333100

    Number_of_cars_per_household,_(2011_Census)  \
33                                          0.5
34                                          1.0
35                                          0.8
36                                          1.1
37                                          1.1

   %_of_adults_who_cycle_at_least_once_per_month,_2014/15  \
33                                                  .
34                                                  .
35                                               14.7
36                                               14.7
37                                                  .

   Average_Public_Transport_Accessibility_score,_2014  \
33                                                4.9
34                                                  3
35                                                3.8
36                                                  .
37                                                  .

   Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14  \
33                                                  .
34                                                  .
35                                               61.8
36                                               56.8
37                                                  .

   Rates_of_Children_Looked_After_(2016)  \
33                                    56
34                                    47
35                                    51
36                                    60
37                                     .

   %_of_pupils_whose_first_language_is_not_English_(2015)  \
33                                               49.6
34                                                 44
35                                               29.3
36                                               15.7
37                                                  .

    %_children_living_in_out-of-work_households_(2015)  \
33                                                0.8
34                                               12.2
35                                               14.4
36                                               14.0
37                                               18.2

   Male_life_expectancy,_(2012-14) Female_life_expectancy,_(2012-14)  \
33                               .                                 .
34                               .                                 .
35                            80.3                              84.2
36                     79.54587555                       83.19602966
37                               .                                 .

   Teenage_conception_rate_(2014)  \
33                           23.1
34                           20.7
35                           21.5
36                           22.8
37                              .

    Life_satisfaction_score_2011-14_(out_of_10)  \
33                                          7.3
34                                          7.3
35                                          7.3
36                                          7.5
37                                          7.5

    Worthwhileness_score_2011-14_(out_of_10)  \
33                                       7.5
34                                       7.6
35                                       7.6
36                                       7.7
37                                       7.7

    Happiness_score_2011-14_(out_of_10)  Anxiety_score_2011-14_(out_of_10)  \
33                                  7.2                                3.4
34                                  7.3                                3.2
35                                  7.2                                3.3
36                                  7.3                                3.0
37                                  7.3                                3.0

   Childhood_Obesity_Prevalance_(%)_2015/16  \
33                                        -
34                                        -
35                                     23.2
36                                     19.8
37                                        -

    People_aged_17+_with_diabetes_(%)  \
33                                5.3
34                                6.5
35                                6.0
36                                6.2
37                                NaN


Some preprocessing is necessary as we can see missing values in some columns

In [38]:
# We first need to replace missing field ' ' as np.nan because we don't know how much missing row there is for one column
for column in merged_df.columns:
    merged_df[column] = merged_df[column].replace(to_replace=['.'],value=np.nan)
merged_df.isnull().sum()

Code                                                                                                 0
Area_name                                                                                            0
Inner/_Outer_London                                                                                  0
GLA_Population_Estimate_2017                                                                         0
GLA_Household_Estimate_2017                                                                          0
Inland_Area_(Hectares)                                                                               0
Population_density_(per_hectare)_2017                                                                0
Average_Age,_2017                                                                                    0
Proportion_of_population_aged_0-15,_2015                                                             0
Proportion_of_population_of_working-age,_2015                                                        0
Proportion_of_population_aged_65_and_over,_2015                                                      0
Net_internal_migration_(2015)                                                                        0
Net_international_migration_(2015)                                                                   0
Net_natural_change_(2015)                                                                            0
%_of_resident_population_born_abroad_(2015)                                                          1
Largest_migrant_population_by_country_of_birth_(2011)                                                0
%_of_largest_migrant_population_(2011)                                                               0
Second_largest_migrant_population_by_country_of_birth_(2011)                                         0
%_of_second_largest_migrant_population_(2011)                                                        0
Third_largest_migrant_population_by_country_of_birth_(2011)                                          0
%_of_third_largest_migrant_population_(2011)                                                         0
%_of_population_from_BAME_groups_(2016)                                                              0
%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)                                    0
Overseas_nationals_entering_the_UK_(NINo),_(2015/16)                                                 0
New_migrant_(NINo)_rates,_(2015/16)                                                                  0
Largest_migrant_population_arrived_during_2015/16                                                    0
Second_largest_migrant_population_arrived_during_2015/16                                             0
Third_largest_migrant_population_arrived_during_2015/16                                              0
Employment_rate_(%)_(2015)                                                                           0
Male_employment_rate_(2015)                                                                          1
Female_employment_rate_(2015)                                                                        1
Unemployment_rate_(2015)                                                                             1
Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)                                                    0
Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014)                                                1
Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)               0
%_working-age_with_a_disability_(2015)                                                               1
Proportion_of_working_age_people_with_no_qualifications_(%)_2015                                     1
Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015                               1
Gross_Annual_Pay,_(2016)                                                                             2
Gross_Annual_Pay_-_Male_(2016)                                                                      10
Gross_Annual_Pay_-_Female_(2016)                                                                     4
Modelled_Household_median_income_estimates_2012/13                                                   0
%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13)                                     1
Number_of_jobs_by_workplace_(2014)                                                                   0
%_of_employment_that_is_in_public_sector_(2014)                                                      0
Jobs_Density,_2015                                                                                   0
Number_of_active_businesses,_2015                                                                    0
Two-year_business_survival_rates_(started_in_2013)                                                   0
Crime_rates_per_thousand_population_2014/15                                                          1
Fires_per_thousand_population_(2014)                                                                 0
Ambulance_incidents_per_hundred_population_(2014)                                                    1
Median_House_Price,_2015                                                                             0
Average_Band_D_Council_Tax_charge_(£),_2015/16                                                       0
New_Homes_(net)_2015/16_(provisional)                                                                0
Homes_Owned_outright,_(2014)_%                                                                       1
Being_bought_with_mortgage_or_loan,_(2014)_%                                                         1
Rented_from_Local_Authority_or_Housing_Association,_(2014)_%                                         1
Rented_from_Private_landlord,_(2014)_%                                                               1
%_of_area_that_is_Greenspace,_2005                                                                   0
Total_carbon_emissions_(2014)                                                                        0
Household_Waste_Recycling_Rate,_2014/15                                                              0
Number_of_cars,_(2011_Census)                                                                        0
Number_of_cars_per_household,_(2011_Census)                                                          0
%_of_adults_who_cycle_at_least_once_per_month,_2014/15                                               0
Average_Public_Transport_Accessibility_score,_2014                                                   0
Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14     0
Rates_of_Children_Looked_After_(2016)                                                                0
%_of_pupils_whose_first_language_is_not_English_(2015)                                               1
%_children_living_in_out-of-work_households_(2015)                                                   0
Male_life_expectancy,_(2012-14)                                                                      1
Female_life_expectancy,_(2012-14)                                                                    1
Teenage_conception_rate_(2014)                                                                       1
Life_satisfaction_score_2011-14_(out_of_10)                                                          0
Worthwhileness_score_2011-14_(out_of_10)                                                             0
Happiness_score_2011-14_(out_of_10)                                                                  0
Anxiety_score_2011-14_(out_of_10)                                                                    0
Childhood_Obesity_Prevalance_(%)_2015/16                                                             1
People_aged_17+_with_diabetes_(%)                                                                    0
Mortality_rate_from_causes_considered_preventable_2012/14                                            0
Political_control_in_council                                                                         1
Proportion_of_seats_won_by_Conservatives_in_2014_election                                            1
Proportion_of_seats_won_by_Labour_in_2014_election                                                   2
Proportion_of_seats_won_by_Lib_Dems_in_2014_election                                                 1
Turnout_at_2014_local_elections                                                                      1
latitude                                                                                             0
longitude                                                                                            0
dtype: int64

In [39]:
# We select features that does not contain null values
features = [c for c in merged_df.columns if merged_df[c].isnull().sum()==0]
#print(features)
print(merged_df[features].info())
# we can see latitude and longitude defined as type object so let's convert them to float
merged_df['latitude'] = merged_df['latitude'].astype('float')
merged_df['longitude'] = merged_df['longitude'].astype('float')
non_object_columns = np.append(merged_df[features].select_dtypes(exclude=[object]).columns.values,'Area_name')
print(merged_df[non_object_columns].info())
df_filtered = merged_df[non_object_columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 58 columns):
Code                                                                                                33 non-null object
Area_name                                                                                           33 non-null object
Inner/_Outer_London                                                                                 33 non-null object
GLA_Population_Estimate_2017                                                                        33 non-null int64
GLA_Household_Estimate_2017                                                                         33 non-null object
Inland_Area_(Hectares)                                                                              33 non-null object
Population_density_(per_hectare)_2017                                                               33 non-null object
Average_Age,_2017                                                                                   33 non-null float64
Proportion_of_population_aged_0-15,_2015                                                            33 non-null float64
Proportion_of_population_of_working-age,_2015                                                       33 non-null float64
Proportion_of_population_aged_65_and_over,_2015                                                     33 non-null float64
Net_internal_migration_(2015)                                                                       33 non-null object
Net_international_migration_(2015)                                                                  33 non-null object
Net_natural_change_(2015)                                                                           33 non-null object
Largest_migrant_population_by_country_of_birth_(2011)                                               33 non-null object
%_of_largest_migrant_population_(2011)                                                              33 non-null object
Second_largest_migrant_population_by_country_of_birth_(2011)                                        33 non-null object
%_of_second_largest_migrant_population_(2011)                                                       33 non-null object
Third_largest_migrant_population_by_country_of_birth_(2011)                                         33 non-null object
%_of_third_largest_migrant_population_(2011)                                                        33 non-null object
%_of_population_from_BAME_groups_(2016)                                                             33 non-null object
%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)                                   33 non-null object
Overseas_nationals_entering_the_UK_(NINo),_(2015/16)                                                33 non-null object
New_migrant_(NINo)_rates,_(2015/16)                                                                 33 non-null float64
Largest_migrant_population_arrived_during_2015/16                                                   33 non-null object
Second_largest_migrant_population_arrived_during_2015/16                                            33 non-null object
Third_largest_migrant_population_arrived_during_2015/16                                             33 non-null object
Employment_rate_(%)_(2015)                                                                          33 non-null float64
Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)                                                   33 non-null object
Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)              33 non-null object
Modelled_Household_median_income_estimates_2012/13                                                  33 non-null object
Number_of_jobs_by_workplace_(2014)                                                                  33 non-null object
%_of_employment_that_is_in_public_sector_(2014)                                                     33 non-null float64
Jobs_Density,_2015                                                                                  33 non-null float64
Number_of_active_businesses,_2015                                                                   33 non-null int64
Two-year_business_survival_rates_(started_in_2013)                                                  33 non-null float64
Fires_per_thousand_population_(2014)                                                                33 non-null object
Median_House_Price,_2015                                                                            33 non-null object
Average_Band_D_Council_Tax_charge_(£),_2015/16                                                      33 non-null object
New_Homes_(net)_2015/16_(provisional)                                                               33 non-null object
%_of_area_that_is_Greenspace,_2005                                                                  33 non-null object
Total_carbon_emissions_(2014)                                                                       33 non-null object
Household_Waste_Recycling_Rate,_2014/15                                                             33 non-null object
Number_of_cars,_(2011_Census)                                                                       33 non-null int64
Number_of_cars_per_household,_(2011_Census)                                                         33 non-null float64
%_of_adults_who_cycle_at_least_once_per_month,_2014/15                                              33 non-null object
Average_Public_Transport_Accessibility_score,_2014                                                  33 non-null object
Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14    33 non-null object
Rates_of_Children_Looked_After_(2016)                                                               33 non-null object
%_children_living_in_out-of-work_households_(2015)                                                  33 non-null float64
Life_satisfaction_score_2011-14_(out_of_10)                                                         33 non-null float64
Worthwhileness_score_2011-14_(out_of_10)                                                            33 non-null float64
Happiness_score_2011-14_(out_of_10)                                                                 33 non-null float64
Anxiety_score_2011-14_(out_of_10)                                                                   33 non-null float64
People_aged_17+_with_diabetes_(%)                                                                   33 non-null float64
Mortality_rate_from_causes_considered_preventable_2012/14                                           33 non-null object
latitude                                                                                            33 non-null object
longitude                                                                                           33 non-null object
dtypes: float64(16), int64(3), object(39)
memory usage: 15.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 22 columns):
GLA_Population_Estimate_2017                          33 non-null int64
Average_Age,_2017                                     33 non-null float64
Proportion_of_population_aged_0-15,_2015              33 non-null float64
Proportion_of_population_of_working-age,_2015         33 non-null float64
Proportion_of_population_aged_65_and_over,_2015       33 non-null float64
New_migrant_(NINo)_rates,_(2015/16)                   33 non-null float64
Employment_rate_(%)_(2015)                            33 non-null float64
%_of_employment_that_is_in_public_sector_(2014)       33 non-null float64
Jobs_Density,_2015                                    33 non-null float64
Number_of_active_businesses,_2015                     33 non-null int64
Two-year_business_survival_rates_(started_in_2013)    33 non-null float64
Number_of_cars,_(2011_Census)                         33 non-null int64
Number_of_cars_per_household,_(2011_Census)           33 non-null float64
%_children_living_in_out-of-work_households_(2015)    33 non-null float64
Life_satisfaction_score_2011-14_(out_of_10)           33 non-null float64
Worthwhileness_score_2011-14_(out_of_10)              33 non-null float64
Happiness_score_2011-14_(out_of_10)                   33 non-null float64
Anxiety_score_2011-14_(out_of_10)                     33 non-null float64
People_aged_17+_with_diabetes_(%)                     33 non-null float64
latitude                                              33 non-null float64
longitude                                             33 non-null float64
Area_name                                             33 non-null object
dtypes: float64(18), int64(3), object(1)
memory usage: 5.9+ KB
None

In [40]:
df_filtered.head()

,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),latitude,longitude,Area_name
0,8800,43.2,11.4,73.1,15.5,152.2,64.6,3.4,84.3,26130,64.3,1692,0.4,7.9,6.6,7.1,6.0,5.6,2.6,51.5155,-0.0922,City of London
1,209000,32.9,27.2,63.1,9.7,59.1,65.8,21.1,0.5,6560,73.0,56966,0.8,18.7,7.1,7.6,7.1,3.1,7.3,51.5607,0.1557,Barking and Dagenham
2,389600,37.3,21.1,64.9,14.0,53.1,68.5,18.7,0.7,26190,73.8,144717,1.1,9.3,7.5,7.8,7.4,2.8,6.0,51.6252,-0.1517,Barnet
3,244300,39.0,20.6,62.9,16.6,14.4,75.1,15.9,0.6,9075,73.5,108507,1.2,12.6,7.4,7.7,7.2,3.3,6.9,51.4549,0.1505,Bexley
4,332100,35.6,20.9,67.8,11.3,100.9,69.5,17.6,0.6,15745,74.4,87802,0.8,13.7,7.3,7.4,7.2,2.9,7.9,51.5588,-0.2817,Brent

In [41]:
df_filtered.to_csv('df_filtered.csv',index=False)

### Using Foursquare API

In [2]:
CLIENT_ID = 'YBG5BPNALNDJINTSYHR4DEMXI3PYEW1SEPZ5O2RFJYDZ15SA' # your Foursquare ID
CLIENT_SECRET = 'ABO4REOHM0CK5VJCJI4BHH51AYMXEVMRFE42NKHWXUXCYZHW' # your Foursquare Secret
VERSION = '20191105'
LIMIT = 100
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: YBG5BPNALNDJINTSYHR4DEMXI3PYEW1SEPZ5O2RFJYDZ15SA
CLIENT_SECRET:ABO4REOHM0CK5VJCJI4BHH51AYMXEVMRFE42NKHWXUXCYZHW

In [3]:
def getNearbyRestaurantVenues(name, lat, lng, offset, radius=2000):
    venues_list=[]          
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&section=food&offset={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius,
            offset,
            LIMIT)
    # make the GET request
    results = []
    #print(requests.get(url).json()["response"])
    if('groups' in requests.get(url).json()["response"]):
        print(requests.get(url).json()['meta'])
        results = requests.get(url).json()["response"]['groups'][0]['items']
    #print(len(results))#
    for v in results:
        if('Restaurant' in v['venue']['categories'][0]['name']):
            #print(v['venue']['categories'][0]['name'])
            # return only relevant information for each nearby venue
            venues_list.append([(
                    v['venue']['id'],
                    v['venue']['name'], 
                    v['venue']['location']['lat'], 
                    v['venue']['location']['lng'],  
                    v['venue']['categories'][0]['name'])])
    #print(len(venues_list))
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    if(len(nearby_venues)!=0):
        nearby_venues.columns = ['Id',
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    #print(len(nearby_venues))
    return(nearby_venues)
def countNearbyVenues(lat,lng,radius=2000):
    # We count the nb of non restaurant venues near the current venue in a radius equal to 200m
    venues_list=[]          
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
    # make the GET request
    results = []
    if('groups' in requests.get(url).json()["response"]):
        results = requests.get(url).json()["response"]['groups'][0]['items']
    count = 0
    for v in results:
        if('Restaurant' not in v['venue']['categories'][0]['name']): count+=1
    return count
def countNearbyRestaurantVenues(lat,lng,radius=2000):
    # We count the nb of non restaurant venues near the current venue in a radius equal to 200m
    venues_list=[]          
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&section=food&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
    # make the GET request
    results = []
    if('groups' in requests.get(url).json()["response"]):
        results = requests.get(url).json()["response"]['groups'][0]['items']
    count = 0
    for v in results:
        if('Restaurant' in v['venue']['categories'][0]['name']): count+=1
    return count

In [24]:
# Since the call from the API is limited to 100 results we need to iterate over it to get a consistent amount of data
# We also need to slightly modify lat/long because otherwise it will return the same 100 results
# We will aim for around 1000 unique restaurants in London
borough_venues = []
for idx,r in df_filtered.iterrows():
    borough_venues.append(getNearbyRestaurantVenues(name=r['Area_name'],
                                       lat=r['latitude'],
                                       lng=r['longitude'],
                                       offset=0))
#print(borough_venues)
# While debugging, I got this error so this may explains why the code sometimes doesn't work, just need to relaunch it
# {'code': 500, 'errorType': 'server_error', 'errorDetail': 'Foursquare servers are experiencing problems. Please retry and check status.foursquare.com for updates.'}
venues = []
for idx,k in enumerate(borough_venues):
    b_venues = k
    for j in range(10):
        for i in range(0,3):
            tmp = getNearbyRestaurantVenues(name=df_filtered.iloc[idx]['Area_name'],
                                           lat=df_filtered.iloc[idx]['latitude']+0.0008983*j,
                                           lng=df_filtered.iloc[idx]['longitude']+0.0008983*j,
                                           offset=100*i)
        b_venues = pd.concat([b_venues,tmp]).drop_duplicates().reset_index(drop=True)
    venues.append(b_venues)
    print(b_venues.shape)

{'code': 200, 'requestId': '5dc28e9abcbf7a00398c76ec'}
{'code': 200, 'requestId': '5dc28e9bd03d29002b0832b4'}
{'code': 200, 'requestId': '5dc28e9c492822002de4bc25'}
{'code': 500, 'errorType': 'server_error', 'errorDetail': 'Foursquare servers are experiencing problems. Please retry and check status.foursquare.com for updates.'}
{'code': 200, 'requestId': '5dc28ea96bdee6003929b002'}
{'code': 200, 'requestId': '5dc28eaaa6ec98002c727a8b'}
{'code': 200, 'requestId': '5dc28e906b9b4900204e64cc'}
{'code': 200, 'requestId': '5dc28e2b02a172002890f747'}
{'code': 200, 'requestId': '5dc28ea160ba080029caa38f'}
{'code': 200, 'requestId': '5dc28eae89b06a002c697f11'}
{'code': 200, 'requestId': '5dc28eb0d9a6e6002b2f7284'}
{'code': 200, 'requestId': '5dc28eb12b274a003947e8b3'}
{'code': 200, 'requestId': '5dc28eb3342adf00383f770c'}
{'code': 200, 'requestId': '5dc28eb4bcbf7a00398ce21e'}
{'code': 200, 'requestId': '5dc28e996b9b4900204e8ba6'}
{'code': 200, 'requestId': '5dc28eb5d03360002c62d5a8'}
{'code': 200, 'requestId': '5dc28eb6c53093002c9280ce'}
{'code': 200, 'requestId': '5dc28eb7f96b2c00395447df'}
{'code': 200, 'requestId': '5dc28eb92b274a00394809d0'}
{'code': 200, 'requestId': '5dc28ebbbbed210038139f35'}
{'code': 200, 'requestId': '5dc28ebce97dfb002cbf8206'}
{'code': 200, 'requestId': '5dc28e68660a9f001b425390'}
{'code': 200, 'requestId': '5dc28ebe6001bc002b0d6d5b'}
{'code': 200, 'requestId': '5dc28ebfdd70c5002cf4c55d'}
{'code': 200, 'requestId': '5dc28ec0a30619002cae6515'}
{'code': 200, 'requestId': '5dc28ec1d9a6e6002b2fb9a1'}
{'code': 200, 'requestId': '5dc28ec2bbed21003813be60'}
{'code': 200, 'requestId': '5dc28ec4492822002de561ec'}
{'code': 200, 'requestId': '5dc28ec5b9961d0038062ed2'}
{'code': 200, 'requestId': '5dc28ec66e465000394dbc16'}
{'code': 200, 'requestId': '5dc28ec7b77c77002c45981a'}
{'code': 200, 'requestId': '5dc28ec9bcbf7a00398d39dd'}
{'code': 200, 'requestId': '5dc28ecb8afbe0002d0d88f0'}
{'code': 200, 'requestId': '5dc28ecd9ba3e50037dde472'}
{'code': 200, 'requestId': '5dc28ece2619ee002c1591a7'}
{'code': 200, 'requestId': '5dc28ed0e97dfb002cbfd258'}
{'code': 200, 'requestId': '5dc28eb66b9b4900204f01a5'}
{'code': 200, 'requestId': '5dc28ed348b1e10038d27d45'}
{'code': 200, 'requestId': '5dc28ed4a4b51b002c1d789c'}
{'code': 200, 'requestId': '5dc28ed62619ee002c15b00e'}
{'code': 200, 'requestId': '5dc28ed8bf7dde002ca71a6b'}
{'code': 200, 'requestId': '5dc28ed9bf7dde002ca720e0'}
{'code': 200, 'requestId': '5dc28edb598e64002c3a90fe'}
{'code': 200, 'requestId': '5dc28e87660a9f001b42d23a'}
{'code': 200, 'requestId': '5dc28ede48b1e10038d2abea'}
{'code': 200, 'requestId': '5dc28ee0f96b2c0039559584'}
{'code': 200, 'requestId': '5dc28ee29ba3e50037de39b8'}
{'code': 200, 'requestId': '5dc28ee3b77c77002c46091c'}
{'code': 200, 'requestId': '5dc28ee4f96b2c003955b8a3'}
{'code': 200, 'requestId': '5dc28ee6a6ec98002c737296'}
{'code': 200, 'requestId': '5dc28ecc6b9b4900204f5d62'}
{'code': 200, 'requestId': '5dc28edd60ba080029cb98d6'}
(135, 5)
{'code': 200, 'requestId': '5dc28eeb2b274a003948d427'}
{'code': 200, 'requestId': '5dc28eeb5d891b002c95ec46'}
{'code': 200, 'requestId': '5dc28eecf1110b002b6c5a7f'}
{'code': 200, 'requestId': '5dc28ee060ba080029cba4eb'}
{'code': 200, 'requestId': '5dc28eed6f0aa20039087ef0'}
{'code': 200, 'requestId': '5dc28eef47b43d00232a5795'}
{'code': 200, 'requestId': '5dc28eeed0a149002c51ba53'}
{'code': 200, 'requestId': '5dc28e6e02a172002892063b'}
{'code': 200, 'requestId': '5dc28e84dd0f850023a34c5e'}
{'code': 200, 'requestId': '5dc28ef0492822002de61597'}
{'code': 200, 'requestId': '5dc28ef0c58ed7002c1bb443'}
{'code': 200, 'requestId': '5dc28ef12b274a003948ed5c'}
{'code': 200, 'requestId': '5dc28ef2787dba00381d0bfb'}
{'code': 200, 'requestId': '5dc28ef2598e64002c3aeec8'}
{'code': 200, 'requestId': '5dc28ef39ba3e50037de7f13'}
{'code': 200, 'requestId': '5dc28ef3787dba00381d12db'}
{'code': 200, 'requestId': '5dc28ef4a4b51b002c1e7953'}
{'code': 200, 'requestId': '5dc28ef56f0aa20039089d50'}
{'code': 200, 'requestId': '5dc28ef5b9961d003806f303'}
{'code': 200, 'requestId': '5dc28ef666fc65002ca2bb2e'}
(3, 5)
{'code': 200, 'requestId': '5dc28ef6bbed210038149287'}
{'code': 200, 'requestId': '5dc28ef72b274a00394905d7'}
{'code': 200, 'requestId': '5dc28ef86f0aa2003908a9cd'}
{'code': 200, 'requestId': '5dc28ef8c58ed7002c1bd39b'}
{'code': 200, 'requestId': '5dc28ef9dd70c5002cf5afa5'}
{'code': 200, 'requestId': '5dc28efa6f0aa2003908b16e'}
{'code': 200, 'requestId': '5dc28e7902a172002892343d'}
{'code': 200, 'requestId': '5dc28eee60ba080029cbdf1f'}
{'code': 200, 'requestId': '5dc28efb66fc65002ca2e896'}
{'code': 200, 'requestId': '5dc28efcf96b2c00395677cd'}
{'code': 200, 'requestId': '5dc28efdc53093002c93a031'}
{'code': 200, 'requestId': '5dc28efe6e465000394e9c90'}
{'code': 200, 'requestId': '5dc28efe8afbe0002d0e5612'}
{'code': 200, 'requestId': '5dc28eff598e64002c3b20d5'}
{'code': 200, 'requestId': '5dc28eff8ad62e002ca7d0f6'}
{'code': 200, 'requestId': '5dc28f00c53093002c93ad33'}
{'code': 200, 'requestId': '5dc28f01a4b51b002c1eddcd'}
{'code': 200, 'requestId': '5dc28f01b77c77002c4683d9'}
{'code': 200, 'requestId': '5dc28f02f1110b002b6cb318'}
{'code': 200, 'requestId': '5dc28f03f9dbde00381b18db'}
(31, 5)
{'code': 200, 'requestId': '5dc28f03ad17890039924971'}
{'code': 200, 'requestId': '5dc28f04c53093002c93bc8f'}
{'code': 200, 'requestId': '5dc28f04a87921002ca07032'}
{'code': 200, 'requestId': '5dc28f05f96b2c003956be91'}
{'code': 200, 'requestId': '5dc28f066e465000394ebc4a'}
{'code': 200, 'requestId': '5dc28eeb6b9b4900204fd7cd'}
{'code': 200, 'requestId': '5dc28f076001bc002b0e9297'}
{'code': 200, 'requestId': '5dc28f082b274a00394947b2'}
{'code': 200, 'requestId': '5dc28f08787dba00381d64e9'}
{'code': 200, 'requestId': '5dc28f09f9dbde00381b3151'}
{'code': 200, 'requestId': '5dc28f0966fc65002ca3557f'}
{'code': 200, 'requestId': '5dc28f0a787dba00381d6d04'}
{'code': 200, 'requestId': '5dc28f0b6001bc002b0ea21e'}
{'code': 200, 'requestId': '5dc28e8a02a172002892783b'}
{'code': 200, 'requestId': '5dc28f0c72475000395f62be'}
{'code': 200, 'requestId': '5dc28e8b02a1720028927d4d'}
{'code': 200, 'requestId': '5dc28f0da6ec98002c740fd0'}
{'code': 200, 'requestId': '5dc28f0ed0a149002c5239c3'}
{'code': 200, 'requestId': '5dc28f0ec58ed7002c1c2c60'}
{'code': 200, 'requestId': '5dc28f0f92e7a9002c2c6923'}
(0, 0)
{'code': 200, 'requestId': '5dc28f10d03360002c65b738'}
{'code': 200, 'requestId': '5dc28f11c58ed7002c1c357d'}
{'code': 200, 'requestId': '5dc28ea6dd0f850023a3d35a'}
{'code': 200, 'requestId': '5dc28f12a1db64002c3e36f2'}
{'code': 200, 'requestId': '5dc28f13a1db64002c3e3997'}
{'code': 200, 'requestId': '5dc28ea8dd0f850023a3dbd6'}
{'code': 200, 'requestId': '5dc28f14787dba00381d9575'}
{'code': 200, 'requestId': '5dc28f15ad17890039928fe8'}
{'code': 200, 'requestId': '5dc28f15f1110b002b6d0104'}
{'code': 200, 'requestId': '5dc28f1666fc65002ca3bdb9'}
{'code': 200, 'requestId': '5dc28f17a87921002ca0bac2'}
{'code': 200, 'requestId': '5dc28f18b42667002c5c17ea'}
{'code': 200, 'requestId': '5dc28f18342adf00384114d7'}
{'code': 200, 'requestId': '5dc28f1966fc65002ca3d732'}
{'code': 200, 'requestId': '5dc28f1add70c5002cf6337a'}
{'code': 200, 'requestId': '5dc28ec5660a9f001b43cd9c'}
{'code': 200, 'requestId': '5dc28f1bb9961d0038078b78'}
{'code': 200, 'requestId': '5dc28e9b02a172002892bc5a'}
{'code': 200, 'requestId': '5dc28f1c48b1e10038d3a8d1'}
{'code': 200, 'requestId': '5dc28f1da30619002cafdd70'}
(41, 5)
{'code': 200, 'requestId': '5dc28f1ec53093002c9426db'}
{'code': 200, 'requestId': '5dc28f0a47e0d6001b3e28f0'}
{'code': 200, 'requestId': '5dc28f1f2c20170036a6eacf'}
{'code': 200, 'requestId': '5dc28ef60f596800282b51dd'}
{'code': 200, 'requestId': '5dc28f2089b06a002c6b501e'}
{'code': 200, 'requestId': '5dc28f21d03360002c664695'}
{'code': 200, 'requestId': '5dc28f2347b43d00232b2acf'}
{'code': 200, 'requestId': '5dc28f23a6ec98002c7468b6'}
{'code': 200, 'requestId': '5dc28f0f47e0d6001b3e3d1f'}
{'code': 200, 'requestId': '5dc28f24598e64002c3bb9cc'}
{'code': 200, 'requestId': '5dc28f24d0a149002c52988c'}
{'code': 200, 'requestId': '5dc28f2592e7a9002c2cc436'}
{'code': 200, 'requestId': '5dc28f2747b43d00232b3b3a'}
{'code': 200, 'requestId': '5dc28ebbdd0f850023a42b35'}
{'code': 200, 'requestId': '5dc28f2789b06a002c6b6ac8'}
{'code': 200, 'requestId': '5dc28f28598e64002c3bc87e'}
{'code': 200, 'requestId': '5dc28f0d6b9b4900205064cc'}
{'code': 200, 'requestId': '5dc28f29bbed21003815604b'}
{'code': 200, 'requestId': '5dc28f2a342adf0038415b6d'}
{'code': 200, 'requestId': '5dc28f2aa87921002ca10b13'}
(21, 5)
{'code': 200, 'requestId': '5dc28f2b598e64002c3bd74e'}
{'code': 200, 'requestId': '5dc28f126b9b49002050785b'}
{'code': 200, 'requestId': '5dc28ec3dd0f850023a44d48'}
{'code': 200, 'requestId': '5dc28f3092e7a9002c2cf398'}
{'code': 200, 'requestId': '5dc28f326bdee600392be22c'}
{'code': 200, 'requestId': '5dc28f34a4b51b002c208492'}
{'code': 200, 'requestId': '5dc28f35a1db64002c3ecb29'}
{'code': 200, 'requestId': '5dc28f37b9961d003808010c'}
{'code': 200, 'requestId': '5dc28f39b42667002c5ca111'}
{'code': 200, 'requestId': '5dc28f3aa1db64002c3ee1e2'}
{'code': 200, 'requestId': '5dc28f3cd9a6e6002b31b1e6'}
{'code': 200, 'requestId': '5dc28f3ee97dfb002cc19490'}
{'code': 200, 'requestId': '5dc28f3ff1110b002b6db0a0'}
{'code': 200, 'requestId': '5dc28f4192e7a9002c2d39b6'}
{'code': 200, 'requestId': '5dc28f42d03360002c675eac'}
{'code': 200, 'requestId': '5dc28f44dd70c5002cf6e406'}
{'code': 200, 'requestId': '5dc28f452c20170036a78aec'}
{'code': 200, 'requestId': '5dc28f46a87921002ca18324'}
{'code': 200, 'requestId': '5dc28f47a30619002cb08f6c'}
{'code': 200, 'requestId': '5dc28f496001bc002b0fa6b0'}
(183, 5)
{'code': 200, 'requestId': '5dc28f4bbbed21003815f0b1'}
{'code': 200, 'requestId': '5dc28f4cbbed21003815f3d9'}
{'code': 200, 'requestId': '5dc28f4d92e7a9002c2d6ac7'}
{'code': 200, 'requestId': '5dc28f4d6e465000394fe77d'}
{'code': 200, 'requestId': '5dc28f4e89b06a002c6c0e07'}
{'code': 200, 'requestId': '5dc28f4fc53093002c94f3f3'}
{'code': 200, 'requestId': '5dc28f4ff9dbde00381c5a0d'}
{'code': 200, 'requestId': '5dc28f5086bc49002c30d968'}
{'code': 200, 'requestId': '5dc28f51d03360002c67d685'}
{'code': 200, 'requestId': '5dc28f52d9a6e6002b320d51'}
{'code': 200, 'requestId': '5dc28f522c20170036a7c1c2'}
{'code': 200, 'requestId': '5dc28f53f96b2c0039594d00'}
{'code': 200, 'requestId': '5dc28f54bcbf7a00398f7511'}
{'code': 200, 'requestId': '5dc28f552c20170036a7cdd9'}
{'code': 200, 'requestId': '5dc28f4960ba080029cd5b02'}
{'code': 200, 'requestId': '5dc28f56492822002de7be5e'}
{'code': 200, 'requestId': '5dc28f5789b06a002c6c3463'}
{'code': 200, 'requestId': '5dc28f5866fc65002ca5e654'}
{'code': 200, 'requestId': '5dc28f58724750003960a331'}
{'code': 200, 'requestId': '5dc28f5992e7a9002c2d9fed'}
(44, 5)
{'code': 200, 'requestId': '5dc28f5a8ad62e002ca94a14'}
{'code': 200, 'requestId': '5dc28f5bbbed21003816339c'}
{'code': 200, 'requestId': '5dc28f5c2b274a00394aa65b'}
{'code': 200, 'requestId': '5dc28f5c9ba3e50037e03367'}
{'code': 200, 'requestId': '5dc28f5d8afbe0002d0fe0ef'}
{'code': 200, 'requestId': '5dc28f5ed03360002c6846f9'}
{'code': 200, 'requestId': '5dc28f5fe97dfb002cc2201f'}
{'code': 200, 'requestId': '5dc28f4192393500252b0f96'}
{'code': 200, 'requestId': '5dc28f61492822002de7e98a'}
{'code': 200, 'requestId': '5dc28f61d03d29002b0b62d3'}
{'code': 200, 'requestId': '5dc28f622c20170036a8043b'}
{'code': 200, 'requestId': '5dc28f6366fc65002ca6432a'}
{'code': 200, 'requestId': '5dc28f64b42667002c5d56e0'}
{'code': 200, 'requestId': '5dc28f652619ee002c17fe92'}
{'code': 200, 'requestId': '5dc28f656001bc002b101d52'}
{'code': 200, 'requestId': '5dc28f66f9dbde00381cba2f'}
{'code': 200, 'requestId': '5dc28f67d03360002c689246'}
{'code': 200, 'requestId': '5dc28f68e0c0c9002ce76e4f'}
{'code': 200, 'requestId': '5dc28f69a87921002ca213b8'}
{'code': 200, 'requestId': '5dc28f6ad03360002c68aac0'}
(60, 5)
{'code': 200, 'requestId': '5dc28f6bdd70c5002cf78559'}
{'code': 200, 'requestId': '5dc28f6b342adf0038426db4'}
{'code': 200, 'requestId': '5dc28f6cb9961d003808dcb5'}
{'code': 200, 'requestId': '5dc28f6c6bdee600392cd82c'}
{'code': 200, 'requestId': '5dc28f6d492822002de81c86'}
{'code': 200, 'requestId': '5dc28f6e2c20170036a833a7'}
{'code': 200, 'requestId': '5dc28f6ee0c0c9002ce786b4'}
{'code': 200, 'requestId': '5dc28f6f5d891b002c980f2c'}
{'code': 200, 'requestId': '5dc28f70bf7dde002ca98de6'}
{'code': 200, 'requestId': '5dc28f7086bc49002c31615c'}
{'code': 200, 'requestId': '5dc28f71d03360002c68e500'}
{'code': 200, 'requestId': '5dc28f728ad62e002ca9aa1b'}
{'code': 200, 'requestId': '5dc28f7289b06a002c6ca525'}
{'code': 200, 'requestId': '5dc28f73bf7dde002ca99a87'}
{'code': 200, 'requestId': '5dc28f73f9dbde00381cf03d'}
{'code': 200, 'requestId': '5dc28f7647b43d00232c8221'}
{'code': 200, 'requestId': '5dc28f7592e7a9002c2e12ba'}
{'code': 200, 'requestId': '5dc28f4ce826ac001b73e19e'}
{'code': 200, 'requestId': '5dc28f76a87921002ca248e5'}
{'code': 200, 'requestId': '5dc28f76a6ec98002c75c719'}
(20, 5)
{'code': 200, 'requestId': '5dc28f77d03360002c6916d0'}
{'code': 200, 'requestId': '5dc28f4fe826ac001b73eb6d'}
{'code': 200, 'requestId': '5dc28f78d0a149002c53f6e1'}
{'code': 200, 'requestId': '5dc28f79d0a149002c53f934'}
{'code': 200, 'requestId': '5dc28f7a787dba00381f3ea5'}
{'code': 200, 'requestId': '5dc28f7a66fc65002ca70273'}
{'code': 200, 'requestId': '5dc28f7bc58ed7002c1df213'}
{'code': 200, 'requestId': '5dc28f7b598e64002c3d2664'}
{'code': 200, 'requestId': '5dc28f7c6f0aa200390acc5d'}
{'code': 200, 'requestId': '5dc28f7da4b51b002c22e87d'}
{'code': 200, 'requestId': '5dc28f7060ba080029cdfee7'}
{'code': 200, 'requestId': '5dc28f7ed0a149002c540cd7'}
{'code': 200, 'requestId': '5dc28f7ebbed21003816c63f'}
{'code': 200, 'requestId': '5dc28f7f2c20170036a87bc5'}
{'code': 200, 'requestId': '5dc28f80d03360002c695d61'}
{'code': 200, 'requestId': '5dc28f80a30619002cb17bee'}
{'code': 200, 'requestId': '5dc28f81c58ed7002c1e0b1d'}
{'code': 200, 'requestId': '5dc28f16dd0f850023a5a669'}
{'code': 200, 'requestId': '5dc28f82d9a6e6002b32d88a'}
{'code': 200, 'requestId': '5dc28f8366fc65002ca746ae'}
(22, 5)
{'code': 200, 'requestId': '5dc28f0302a1720028946b7b'}
{'code': 200, 'requestId': '5dc28f85fd16bb00392183da'}
{'code': 200, 'requestId': '5dc28f86d03d29002b0bf94e'}
{'code': 200, 'requestId': '5dc28f87342adf003842e073'}
{'code': 200, 'requestId': '5dc28f882619ee002c188fd2'}
{'code': 200, 'requestId': '5dc28f89342adf003842e945'}
{'code': 200, 'requestId': '5dc28f8ae0c0c9002ce7f9e6'}
{'code': 200, 'requestId': '5dc28f8c5d891b002c98834b'}
{'code': 200, 'requestId': '5dc28f8da6ec98002c76216d'}
{'code': 200, 'requestId': '5dc28f38660a9f001b45ad4e'}
{'code': 200, 'requestId': '5dc28f39660a9f001b45b114'}
{'code': 200, 'requestId': '5dc28f90d03360002c69e235'}
{'code': 200, 'requestId': '5dc28f915d891b002c98999e'}
{'code': 200, 'requestId': '5dc28f92787dba00381fa432'}
{'code': 200, 'requestId': '5dc28f8660ba080029ce57ea'}
{'code': 200, 'requestId': '5dc28f948afbe0002d10c3b4'}
{'code': 200, 'requestId': '5dc28f96dd70c5002cf83597'}
{'code': 200, 'requestId': '5dc28f96e97dfb002cc30444'}
{'code': 200, 'requestId': '5dc28f97d9a6e6002b332f18'}
{'code': 200, 'requestId': '5dc28f98d03360002c6a2828'}
(47, 5)
{'code': 200, 'requestId': '5dc28f99f96b2c00395b91e6'}
{'code': 200, 'requestId': '5dc28f9bdd70c5002cf84a71'}
{'code': 200, 'requestId': '5dc28f30dd0f850023a61380'}
{'code': 200, 'requestId': '5dc28f9d6bdee600392da0d2'}
{'code': 200, 'requestId': '5dc28f9ed0a149002c5490e6'}
{'code': 200, 'requestId': '5dc28fa0492822002de8edf0'}
{'code': 200, 'requestId': '5dc28fa19ba3e50037e14ed1'}
{'code': 200, 'requestId': '5dc28f37dd0f850023a62ea0'}
{'code': 200, 'requestId': '5dc28fa4724750003961d9b7'}
{'code': 200, 'requestId': '5dc28fa5f96b2c00395bf51f'}
{'code': 200, 'requestId': '5dc28fa6a6ec98002c768d1f'}
{'code': 200, 'requestId': '5dc28fa866fc65002ca87b09'}
{'code': 200, 'requestId': '5dc28f80e826ac001b74b620'}
{'code': 200, 'requestId': '5dc28faac58ed7002c1eb606'}
{'code': 200, 'requestId': '5dc28facad17890039950496'}
{'code': 200, 'requestId': '5dc28fada1db64002c40bcbf'}
{'code': 200, 'requestId': '5dc28fae5d891b002c9912d4'}
{'code': 200, 'requestId': '5dc28faff1110b002b6f8122'}
{'code': 200, 'requestId': '5dc28fb1d03360002c6af31a'}
{'code': 200, 'requestId': '5dc28fa560ba080029ced90d'}
(82, 5)
{'code': 200, 'requestId': '5dc28fb3f96b2c00395c6976'}
{'code': 200, 'requestId': '5dc28fb4f96b2c00395c6e7d'}
{'code': 200, 'requestId': '5dc28fb5a6ec98002c76c775'}
{'code': 200, 'requestId': '5dc28fb5dd70c5002cf8b82c'}
{'code': 200, 'requestId': '5dc28fb6a4b51b002c24c0f1'}
{'code': 200, 'requestId': '5dc28fb789b06a002c6dbe7a'}
{'code': 200, 'requestId': '5dc28fb76bdee600392e0e6a'}
{'code': 200, 'requestId': '5dc28fb82619ee002c195574'}
{'code': 200, 'requestId': '5dc28fb892e7a9002c2f2acc'}
{'code': 200, 'requestId': '5dc28f9e6b9b49002052bfc2'}
{'code': 200, 'requestId': '5dc28fbac58ed7002c1ef6e6'}
{'code': 200, 'requestId': '5dc28fbbf9dbde00381e12e2'}
{'code': 200, 'requestId': '5dc28fbbfd16bb0039226505'}
{'code': 200, 'requestId': '5dc28fbc86bc49002c3297f9'}
{'code': 200, 'requestId': '5dc28fbdad17890039954b5e'}
{'code': 200, 'requestId': '5dc28f3c02a1720028955aa3'}
{'code': 200, 'requestId': '5dc28f940f596800282de1fd'}
{'code': 200, 'requestId': '5dc28fa092393500252c9758'}
{'code': 200, 'requestId': '5dc28fbf9ba3e50037e1cb68'}
{'code': 200, 'requestId': '5dc28f960f596800282de9e4'}
(36, 5)
{'code': 200, 'requestId': '5dc28fc12c20170036a98b10'}
{'code': 200, 'requestId': '5dc28fc12619ee002c197bf4'}
{'code': 200, 'requestId': '5dc28fc28afbe0002d11802d'}
{'code': 200, 'requestId': '5dc28fc2d03d29002b0cf321'}
{'code': 200, 'requestId': '5dc28fc3598e64002c3e4ed4'}
{'code': 200, 'requestId': '5dc28fc4d9a6e6002b33e784'}
{'code': 200, 'requestId': '5dc28fc4dd70c5002cf8f61e'}
{'code': 200, 'requestId': '5dc28fc52c20170036a99d19'}
{'code': 200, 'requestId': '5dc28fc6bbed21003817eabf'}
{'code': 200, 'requestId': '5dc28fc6a4b51b002c25488e'}
{'code': 200, 'requestId': '5dc28fc76001bc002b11ae0e'}
{'code': 200, 'requestId': '5dc28fc7b42667002c5ef184'}
{'code': 200, 'requestId': '5dc28fc88afbe0002d1199f6'}
{'code': 200, 'requestId': '5dc28fcb47b43d00232de1ef'}
{'code': 200, 'requestId': '5dc28fcab9961d00380a602a'}
{'code': 200, 'requestId': '5dc28fcad9a6e6002b340253'}
{'code': 200, 'requestId': '5dc28fcb9ba3e50037e1fbdb'}
{'code': 200, 'requestId': '5dc28fccad178900399587e9'}
{'code': 200, 'requestId': '5dc28fcc2619ee002c19a8fd'}
{'code': 200, 'requestId': '5dc28fcd2619ee002c19ab73'}
(33, 5)
{'code': 200, 'requestId': '5dc28fcead17890039958fdf'}
{'code': 200, 'requestId': '5dc28f79660a9f001b46ba95'}
{'code': 200, 'requestId': '5dc28fcf66fc65002ca9bf60'}
{'code': 200, 'requestId': '5dc28fd0bbed21003818147d'}
{'code': 200, 'requestId': '5dc28fb56b9b490020531e87'}
{'code': 200, 'requestId': '5dc28fd18ad62e002cab322a'}
{'code': 200, 'requestId': '5dc28fa8e826ac001b755cf3'}
{'code': 200, 'requestId': '5dc28fd22619ee002c19c19a'}
{'code': 200, 'requestId': '5dc28fd3bcbf7a0039918006'}
{'code': 200, 'requestId': '5dc28fb86b9b490020532d13'}
{'code': 200, 'requestId': '5dc28fb692393500252cf037'}
{'code': 200, 'requestId': '5dc28fd5dd70c5002cf93a82'}
{'code': 200, 'requestId': '5dc28fc147e0d6001b4121b3'}
{'code': 200, 'requestId': '5dc28fd62619ee002c19d24a'}
{'code': 200, 'requestId': '5dc28fd76001bc002b11f2df'}
{'code': 200, 'requestId': '5dc28fd8d03d29002b0d4d28'}
{'code': 200, 'requestId': '5dc28fd9787dba003820c93d'}
{'code': 200, 'requestId': '5dc28fd92619ee002c19e0eb'}
{'code': 200, 'requestId': '5dc28fda724750003962b979'}
{'code': 200, 'requestId': '5dc28fdbbbed2100381842fb'}
(20, 5)
{'code': 200, 'requestId': '5dc28fdbb9961d00380aaa1e'}
{'code': 200, 'requestId': '5dc28fdcf9dbde00381e9ccc'}
{'code': 200, 'requestId': '5dc28fddf1110b002b703b02'}
{'code': 200, 'requestId': '5dc28fddf9dbde00381ea204'}
{'code': 200, 'requestId': '5dc28fe16f0aa200390c714f'}
{'code': 200, 'requestId': '5dc28fe2c53093002c9756ed'}
{'code': 200, 'requestId': '5dc28fe3e0c0c9002ce9684a'}

In [37]:
final_venues = pd.DataFrame()
for idx,v in enumerate(venues):
    if(len(v)!=0):
        v['Area_name'] = df_filtered.iloc[idx]['Area_name']
        final_venues = pd.concat([final_venues,v]).drop_duplicates().reset_index(drop=True)
print(final_venues.shape)
final_venues.head()

(1829, 6)

,Id,Venue,Venue Latitude,Venue Longitude,Venue Category,Area_name
0,4cadc734632b370400f7696e,City Càphê,51.514750,-0.091545,Vietnamese Restaurant,City of London
1,4dff32bae4cdf7246077a9aa,Pilpel,51.515195,-0.098462,Falafel Restaurant,City of London
2,4ac518d5f964a5200fa820e3,Coq d'Argent,51.513303,-0.091036,French Restaurant,City of London
3,4af89520f964a520710e22e3,Le Relais de Venise,51.514727,-0.086527,French Restaurant,City of London
4,50ed6e85e4b0ffbaac00836c,Burger & Lobster,51.513687,-0.094643,Seafood Restaurant,City of London

In [61]:
count_df = final_venues.groupby('Area_name').size().reset_index()
count_df.rename(columns={0:'Restaurant Count'},inplace=True)
count_df.head()

              Area_name  Restaurant Count
0  Barking and Dagenham                 3
1                Barnet                31
2                 Brent                41
3               Bromley                21
4                Camden               183

In [63]:
final_venues = pd.merge(final_venues,count_df,how='left',on='Area_name')

In [69]:
# We can see that we have several same venue with same category but different latitude and longitude so we will group them together
# and get the mean latitude and longitude
names, lat, long, cat, count, neighborhood = [],[],[],[],[],[]
for r in final_venues['Venue'].unique():
    names.append(r)
    cat.append(final_venues.loc[final_venues['Venue']==r,:]['Venue Category'].values[0])
    lat.append(final_venues.loc[final_venues['Venue']==r,:].mean(axis=0)['Venue Latitude'])
    long.append(final_venues.loc[final_venues['Venue']==r,:].mean(axis=0)['Venue Longitude'])
    neighborhood.append(final_venues.loc[final_venues['Venue']==r,:]['Area_name'].values[0])
    count.append(final_venues.loc[final_venues['Venue']==r,:]['Restaurant Count'].values[0])
neighbor_df = pd.DataFrame({'area_name':names,'lat':lat,'long':long,'cat':cat,'restaurant count':count,'borough':neighborhood})
neighbor_df.head()
print(neighbor_df.shape)

(1378, 6)

In [70]:
# let's group the restaurants of a borough with one hot encoding

In [71]:
neighbor_df.head()

,area_name,lat,long,cat,restaurant count,borough
0,City Càphê,51.514750,-0.091545,Vietnamese Restaurant,135,City of London
1,Pilpel,51.513738,-0.096216,Falafel Restaurant,135,City of London
2,Coq d'Argent,51.513303,-0.091036,French Restaurant,135,City of London
3,Le Relais de Venise,51.514727,-0.086527,French Restaurant,135,City of London
4,Burger & Lobster,51.513084,-0.116645,Seafood Restaurant,135,City of London

In [72]:
neighbor_df.to_csv('restaurants.csv',index=False)

In [4]:
neighbor_df = pd.read_csv('restaurants.csv')
neighbor_df.head()

,area_name,lat,long,cat,restaurant count,borough
0,City Càphê,51.514750,-0.091545,Vietnamese Restaurant,135,City of London
1,Pilpel,51.513738,-0.096216,Falafel Restaurant,135,City of London
2,Coq d'Argent,51.513303,-0.091036,French Restaurant,135,City of London
3,Le Relais de Venise,51.514727,-0.086527,French Restaurant,135,City of London
4,Burger & Lobster,51.513084,-0.116645,Seafood Restaurant,135,City of London

In [15]:
# We will store the frequency of each category of restaurant in a borough
boroughs = [x for x in list(neighbor_df['borough'].unique())]
freq = {}
for b in boroughs:
    freq[b] = neighbor_df[neighbor_df.borough==b].groupby('cat').size()
print(freq)

{'City of London': cat
Afghan Restaurant                 1
American Restaurant               4
Arepa Restaurant                  1
Argentinian Restaurant            1
Asian Restaurant                  3
Austrian Restaurant               1
Cantonese Restaurant              1
Caucasian Restaurant              1
Chinese Restaurant                1
Eastern European Restaurant       1
Empanada Restaurant               1
English Restaurant                4
Falafel Restaurant                5
French Restaurant                11
German Restaurant                 1
Indian Restaurant                 4
Israeli Restaurant                1
Italian Restaurant               14
Japanese Restaurant               5
Jewish Restaurant                 1
Kebab Restaurant                  1
Korean Restaurant                 2
Lebanese Restaurant               2
Mediterranean Restaurant          3
Mexican Restaurant                1
Middle Eastern Restaurant         2
Modern European Restaurant        2
North Indian Restaurant           1
Portuguese Restaurant             2
Ramen Restaurant                  1
Restaurant                       17
Scandinavian Restaurant           1
Seafood Restaurant                5
South American Restaurant         2
Spanish Restaurant                1
Sushi Restaurant                  5
Szechuan Restaurant               1
Tapas Restaurant                  5
Turkish Restaurant                2
Udon Restaurant                   1
Vegetarian / Vegan Restaurant     1
Vietnamese Restaurant            10
dtype: int64, 'Barking and Dagenham': cat
Chinese Restaurant      1
Fast Food Restaurant    1
Restaurant              1
dtype: int64, 'Barnet': cat
American Restaurant         1
Asian Restaurant            1
Brazilian Restaurant        1
Chinese Restaurant          2
Fast Food Restaurant        1
French Restaurant           1
Greek Restaurant            1
Indian Restaurant           3
Italian Restaurant          5
Lebanese Restaurant         1
Mediterranean Restaurant    3
Spanish Restaurant          1
Sushi Restaurant            3
Thai Restaurant             1
Turkish Restaurant          3
dtype: int64, 'Brent': cat
American Restaurant           2
Asian Restaurant              1
Brazilian Restaurant          1
Chinese Restaurant            2
Dim Sum Restaurant            1
English Restaurant            1
Fast Food Restaurant          2
Indian Restaurant            13
Italian Restaurant            3
Latin American Restaurant     1
Restaurant                    3
Scandinavian Restaurant       2
Seafood Restaurant            1
Thai Restaurant               1
dtype: int64, 'Bromley': cat
American Restaurant         1
Belgian Restaurant          1
English Restaurant          1
Fast Food Restaurant        1
Indian Restaurant           3
Italian Restaurant          2
Mediterranean Restaurant    1
Mexican Restaurant          1
Seafood Restaurant          1
Sushi Restaurant            2
Turkish Restaurant          1
dtype: int64, 'Camden': cat
American Restaurant               1
Argentinian Restaurant            1
Asian Restaurant                  5
Austrian Restaurant               1
Belgian Restaurant                1
Brazilian Restaurant              1
Chinese Restaurant                3
English Restaurant                5
Ethiopian Restaurant              2
Falafel Restaurant                1
Fast Food Restaurant              1
French Restaurant                 8
Greek Restaurant                  5
Indian Restaurant                 7
Italian Restaurant               15
Japanese Restaurant              11
Kebab Restaurant                  2
Korean Restaurant                 8
Lebanese Restaurant               1
Malay Restaurant                  1
Mediterranean Restaurant          4
Mexican Restaurant                2
Middle Eastern Restaurant         5
Modern European Restaurant        3
New American Restaurant           1
Okonomiyaki Restaurant            1
Paella Restaurant                 1
Persian Restaurant                1
Peruvian Restaurant               2
Portuguese Restaurant             1
Ramen Restaurant                  4
Restaurant                        9
Scandinavian Restaurant           2
Seafood Restaurant                3
South American Restaurant         1
Spanish Restaurant                2
Sushi Restaurant                  4
Tapas Restaurant                  4
Thai Restaurant                   4
Turkish Restaurant                6
Vegetarian / Vegan Restaurant     5
Vietnamese Restaurant             3
Yoshoku Restaurant                1
dtype: int64, 'Croydon': cat
Asian Restaurant               1
Caribbean Restaurant           1
Chinese Restaurant             2
Eastern European Restaurant    1
Fast Food Restaurant           2
Greek Restaurant               1
Indian Restaurant              6
Italian Restaurant             3
Korean Restaurant              1
Malay Restaurant               1
Mediterranean Restaurant       3
Middle Eastern Restaurant      1
Restaurant                     1
Seafood Restaurant             1
South Indian Restaurant        2
Spanish Restaurant             1
Sri Lankan Restaurant          1
Thai Restaurant                1
Vietnamese Restaurant          1
dtype: int64, 'Ealing': cat
American Restaurant                1
Chinese Restaurant                 2
Doner Restaurant                   1
Eastern European Restaurant        2
English Restaurant                 1
Fast Food Restaurant               2
French Restaurant                  1
Greek Restaurant                   2
Indian Restaurant                  6
Italian Restaurant                 5
Japanese Restaurant                3
Kebab Restaurant                   1
Mediterranean Restaurant           1
Middle Eastern Restaurant          2
New American Restaurant            1
Persian Restaurant                 2
Polish Restaurant                  1
Ramen Restaurant                   1
Restaurant                         4
Southern / Soul Food Restaurant    1
Spanish Restaurant                 1
Sushi Restaurant                   2
Thai Restaurant                    3
Turkish Restaurant                 1
Vietnamese Restaurant              2
dtype: int64, 'Enfield': cat
Chinese Restaurant    1
English Restaurant    2
Indian Restaurant     4
Italian Restaurant    1
Mexican Restaurant    1
Restaurant            2
Turkish Restaurant    2
dtype: int64, 'Greenwich': cat
African Restaurant       1
Asian Restaurant         3
Chinese Restaurant       5
Indian Restaurant        2
Italian Restaurant       2
Kebab Restaurant         1
Thai Restaurant          1
Vietnamese Restaurant    1
dtype: int64, 'Hackney': cat
Argentinian Restaurant           1
Caribbean Restaurant             2
Dumpling Restaurant              2
Ethiopian Restaurant             2
French Restaurant                1
Indian Restaurant                1
Italian Restaurant               3
Japanese Restaurant              1
Kebab Restaurant                 1
Mexican Restaurant               1
Middle Eastern Restaurant        2
Modern European Restaurant       1
Ramen Restaurant                 1
Restaurant                       7
Seafood Restaurant               1
Spanish Restaurant               1
Taiwanese Restaurant             1
Thai Restaurant                  1
Turkish Restaurant               3
Vegetarian / Vegan Restaurant    4
Veneto Restaurant                1
Vietnamese Restaurant            2
Yakitori Restaurant              1
dtype: int64, 'Hammersmith and Fulham': cat
Argentinian Restaurant           1
Chinese Restaurant               4
Falafel Restaurant               2
Fast Food Restaurant             3
French Restaurant                4
Greek Restaurant                 1
Indian Restaurant                8
Italian Restaurant               9
Japanese Restaurant              6
Latin American Restaurant        1
Lebanese Restaurant              1
Mediterranean Restaurant         1
Middle Eastern Restaurant        8
Modern European Restaurant       1
Moroccan Restaurant              1
Persian Restaurant               1
Polish Restaurant                1
Restaurant                       2
Sushi Restaurant                 1
Tapas Restaurant                 2
Thai Restaurant                  9
Turkish Restaurant               2
Ukrainian Restaurant             1
Vegetarian / Vegan Restaurant    1
Vietnamese Restaurant            2
dtype: int64, 'Haringey': cat
African Restaurant           1
Bulgarian Restaurant         1
Greek Restaurant             3
Indian Restaurant            6
Italian Restaurant           2
Mediterranean Restaurant     4
Middle Eastern Restaurant    3
Polish Restaurant            1
Restaurant                   2
Tapas Restaurant             1
Thai Restaurant              1
Turkish Restaurant           4
dtype: int64, 'Harrow': cat
Asian Restaurant             1
Chinese Restaurant           2
Dim Sum Restaurant           2
Fast Food Restaurant         3
French Restaurant            1
Indian Restaurant            8
Italian Restaurant           2
Mediterranean Restaurant     1
Mexican Restaurant           1
Middle Eastern Restaurant    1
Persian Restaurant           1
Thai Restaurant              1
dtype: int64, 'Havering': cat
American Restaurant     1
Brazilian Restaurant    1
Doner Restaurant        1
English Restaurant      2
Indian Restaurant       1
Italian Restaurant      1
Kebab Restaurant        1
Restaurant              1
Turkish Restaurant      2
dtype: int64, 'Hillingdon': cat
Brazilian Restaurant    1
Chinese Restaurant      3
Fast Food Restaurant    4
Indian Restaurant       1
Italian Restaurant      2
Restaurant              2
Turkish Restaurant      1
dtype: int64, 'Hounslow': cat
Asian Restaurant              3
Chinese Restaurant            4
Fast Food Restaurant          5
Indian Restaurant            15
Middle Eastern Restaurant     2
Restaurant                    2
Thai Restaurant               1
dtype: int64, 'Islington': cat
Asian Restaurant                  1
Cajun / Creole Restaurant         1
Caucasian Restaurant              1
Chinese Restaurant                5
English Restaurant                2
Fast Food Restaurant              1
French Restaurant                 5
Greek Restaurant                  1
Hunan Restaurant                  1
Indian Restaurant                 3
Indonesian Restaurant             1
Italian Restaurant               10
Japanese Restaurant               3
Kebab Restaurant                  1
Korean Restaurant                 2
Latin American Restaurant         1
Mediterranean Restaurant          5
Mexican Restaurant                3
Middle Eastern Restaurant         2
Modern European Restaurant        2
Ramen Restaurant                  2
Restaurant                        5
Seafood Restaurant                2
Shaanxi Restaurant                1
Spanish Restaurant                2
Sushi Restaurant                  3
Szechuan Restaurant               1
Tapas Restaurant                  2
Thai Restaurant                   5
Turkish Restaurant                4
Vegetarian / Vegan Restaurant     2
Vietnamese Restaurant             4
dtype: int64, 'Kensington and Chelsea': cat
American Restaurant            1
Argentinian Restaurant         1
Asian Restaurant               1
Australian Restaurant          1
Chinese Restaurant             8
Dim Sum Restaurant             1
English Restaurant             2
Fast Food Restaurant           1
Filipino Restaurant            1
French Restaurant              5
Greek Restaurant               5
Indian Restaurant              9
Iraqi Restaurant               1
Italian Restaurant            21
Japanese Restaurant            6
Kebab Restaurant               2
Lebanese Restaurant            5
Malay Restaurant               1
Mediterranean Restaurant       3
Middle Eastern Restaurant     11
Modern European Restaurant     2
Persian Restaurant             5
Ramen Restaurant               1
Restaurant                     9
Scandinavian Restaurant        1
Seafood Restaurant             1
Sushi Restaurant               1
Tapas Restaurant               4
Thai Restaurant                5
Turkish Restaurant             2
dtype: int64, 'Kingston upon Thames': cat
Asian Restaurant                 1
Brazilian Restaurant             1
Cajun / Creole Restaurant        1
Chinese Restaurant               3
Falafel Restaurant               1
French Restaurant                1
German Restaurant                1
Indian Restaurant                5
Italian Restaurant               5
Japanese Restaurant              3
Kebab Restaurant                 1
Lebanese Restaurant              1
Mexican Restaurant               1
Restaurant                       1
Seafood Restaurant               1
Tapas Restaurant                 1
Thai Restaurant                  4
Turkish Restaurant               1
Vegetarian / Vegan Restaurant    1
Vietnamese Restaurant            1
dtype: int64, 'Lambeth': cat
African Restaurant               2
Brazilian Restaurant             1
Caribbean Restaurant             6
Dim Sum Restaurant               2
Dumpling Restaurant              1
English Restaurant               1
French Restaurant                2
Greek Restaurant                 1
Indian Restaurant                4
Italian Restaurant               1
Japanese Restaurant              4
Latin American Restaurant        1
Mediterranean Restaurant         2
Modern European Restaurant       2
Moroccan Restaurant              1
New American Restaurant          1
Okonomiyaki Restaurant           1
Portuguese Restaurant            2
Ramen Restaurant                 1
Restaurant                       8
South American Restaurant        1
Tapas Restaurant                 6
Thai Restaurant                  2
Turkish Restaurant               1
Vegetarian / Vegan Restaurant    2
dtype: int64, 'Lewisham': cat
Greek Restaurant       1
Indian Restaurant      1
Italian Restaurant     1
Japanese Restaurant    1
Malay Restaurant       1
Turkish Restaurant     2
dtype: int64, 'Merton': cat
Asian Restaurant             1
Brazilian Restaurant         1
Chinese Restaurant           1
English Restaurant           1
Fast Food Restaurant         4
Indian Restaurant            2
Italian Restaurant           4
Japanese Restaurant          1
Lebanese Restaurant          3
Middle Eastern Restaurant    2
Restaurant                   1
Sushi Restaurant             3
Thai Restaurant              3
Vietnamese Restaurant        1
dtype: int64, 'Newham': cat
American Restaurant              1
Asian Restaurant                 1
Caribbean Restaurant             1
Chinese Restaurant               4
English Restaurant               1
Fast Food Restaurant             1
Italian Restaurant               2
Japanese Restaurant              1
Mexican Restaurant               1
Middle Eastern Restaurant        2
Restaurant                       3
Tapas Restaurant                 2
Vegetarian / Vegan Restaurant    1
dtype: int64, 'Redbridge': cat
Chinese Restaurant           1
Fast Food Restaurant         2
Indian Restaurant            4
Middle Eastern Restaurant    1
Restaurant                   1
Thai Restaurant              1
Turkish Restaurant           1
dtype: int64, 'Richmond upon Thames': cat
American Restaurant         1
Chinese Restaurant          2
English Restaurant          1
Fast Food Restaurant        1
French Restaurant           4
German Restaurant           2
Indian Restaurant           8
Italian Restaurant          9
Japanese Restaurant         2
Malay Restaurant            1
Mediterranean Restaurant    1
Restaurant                  4
Seafood Restaurant          3
Thai Restaurant             6
dtype: int64, 'Southwark': cat
Argentinian Restaurant           2
Asian Restaurant                 1
Brazilian Restaurant             1
Cantonese Restaurant             1
English Restaurant               5
French Restaurant                3
German Restaurant                1
Greek Restaurant                 1
Indian Restaurant                3
Italian Restaurant               7
Japanese Restaurant              6
Korean Restaurant                2
Lebanese Restaurant              1
Mediterranean Restaurant         1
Mexican Restaurant               2
Middle Eastern Restaurant        1
Modern European Restaurant       2
Peruvian Restaurant              3
Ramen Restaurant                 2
Restaurant                       8
Seafood Restaurant               2
Spanish Restaurant               3
Szechuan Restaurant              2
Tapas Restaurant                 1
Thai Restaurant                  2
Turkish Restaurant               2
Vegetarian / Vegan Restaurant    3
Vietnamese Restaurant            4
dtype: int64, 'Sutton': cat
American Restaurant    1
Chinese Restaurant     2
English Restaurant     1
French Restaurant      1
Indian Restaurant      3
Italian Restaurant     4
Restaurant             1
Thai Restaurant        2
Turkish Restaurant     2
dtype: int64, 'Tower Hamlets': cat
Asian Restaurant              2
Brazilian Restaurant          2
Chinese Restaurant            3
Dumpling Restaurant           1
English Restaurant            4
Falafel Restaurant            1
Greek Restaurant              1
Indian Restaurant             7
Italian Restaurant            6
Modern European Restaurant    1
Pakistani Restaurant          1
Ramen Restaurant              1
Restaurant                    4
Sushi Restaurant              2
Tapas Restaurant              1
Thai Restaurant               1
Turkish Restaurant            4
dtype: int64, 'Waltham Forest': cat
Asian Restaurant                 1
Cantonese Restaurant             1
Chinese Restaurant               2
Eastern European Restaurant      1
Halal Restaurant                 1
Indian Restaurant                1
Italian Restaurant               2
Kebab Restaurant                 1
Middle Eastern Restaurant        1
Restaurant                       3
Tapas Restaurant                 1
Turkish Restaurant               4
Vegetarian / Vegan Restaurant    2
dtype: int64, 'Wandsworth': cat
Asian Restaurant            1
Chinese Restaurant          2
English Restaurant          1
French Restaurant           4
Indian Restaurant           3
Italian Restaurant          6
Japanese Restaurant         2
Korean Restaurant           1
Lebanese Restaurant         1
Mediterranean Restaurant    3
Restaurant                  3
Seafood Restaurant          1
Spanish Restaurant          1
Thai Restaurant             5
Turkish Restaurant          1
dtype: int64, 'Westminster': cat
African Restaurant                  1
American Restaurant                 3
Argentinian Restaurant              1
Asian Restaurant                    2
Cantonese Restaurant                1
Chinese Restaurant                  3
English Restaurant                  2
French Restaurant                  11
Greek Restaurant                    1
Indian Restaurant                   9
Israeli Restaurant                  1
Italian Restaurant                 11
Japanese Restaurant                 5
Korean Restaurant                   3
Latin American Restaurant           2
Mediterranean Restaurant            3
Middle Eastern Restaurant           1
Modern European Restaurant          2
Molecular Gastronomy Restaurant     1
North Indian Restaurant             1
Pakistani Restaurant                1
Peruvian Restaurant                 1
Restaurant                         13
Russian Restaurant                  1
Scandinavian Restaurant             1
Scottish Restaurant                 1
Seafood Restaurant                  7
Spanish Restaurant                  1
Sushi Restaurant                    1
Tapas Restaurant                    2
Thai Restaurant                     1
Vegetarian / Vegan Restaurant       1
dtype: int64}

In [18]:
# let's store those info in a dataframe
# We first need to get all unique values 
rest_cat = [x for x in list(neighbor_df['cat'].unique())]
def getNbInDict(key,borough):
    if(key in freq[borough]): return freq[borough][key]
    else: return 0
freq_df = pd.DataFrame({'Borough' : boroughs})
for cat in rest_cat:
    freq_df[cat] = freq_df.apply(lambda x: getNbInDict(cat,x['Borough']),axis=1)
freq_df.head()

,Borough,Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant
0,City of London,10,5,11,5,14,17,1,5,2,1,2,4,4,1,4,3,1,2,2,1,5,1,1,3,1,5,1,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Barnet,0,0,1,0,5,0,0,3,0,2,0,0,1,0,3,3,0,0,3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Brent,0,0,0,1,3,3,0,0,0,2,0,1,2,0,13,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Bromley,0,0,0,1,2,0,0,2,0,0,0,1,1,0,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
print(freq_df.shape)

(32, 84)

In [20]:
freq_df.to_csv('freq_restaurants.csv',index=False)

In [32]:
freq_df_ll = pd.merge(freq_df,geo_df.rename(columns={'Area_name':'Borough','latitude':'lat','longitude':'long'}),how='left',on='Borough')
freq_df_ll.head()

,Borough,Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,lat,long
0,City of London,10,5,11,5,14,17,1,5,2,1,2,4,4,1,4,3,1,2,2,1,5,1,1,3,1,5,1,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5155,-0.0922
1,Barking and Dagenham,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5607,0.1557
2,Barnet,0,0,1,0,5,0,0,3,0,2,0,0,1,0,3,3,0,0,3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.6252,-0.1517
3,Brent,0,0,0,1,3,3,0,0,0,2,0,1,2,0,13,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5588,-0.2817
4,Bromley,0,0,0,1,2,0,0,2,0,0,0,1,1,0,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.4039,0.0198

In [33]:
freq_df_ll['Nearby Venues Count'] = freq_df_ll.apply(lambda x: countNearbyVenues(x['lat'],x['long']),axis=1)
freq_df_ll.head()

,Borough,Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,lat,long,Nearby Venues Count
0,City of London,10,5,11,5,14,17,1,5,2,1,2,4,4,1,4,3,1,2,2,1,5,1,1,3,1,5,1,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5155,-0.0922,85
1,Barking and Dagenham,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5607,0.1557,28
2,Barnet,0,0,1,0,5,0,0,3,0,2,0,0,1,0,3,3,0,0,3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.6252,-0.1517,72
3,Brent,0,0,0,1,3,3,0,0,0,2,0,1,2,0,13,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.5588,-0.2817,79
4,Bromley,0,0,0,1,2,0,0,2,0,0,0,1,1,0,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.4039,0.0198,35

In [34]:
freq_df_ll.to_csv('freq_ll_restaurants.csv',index=False)

In [2]:
freq_df_ll = pd.read_csv('freq_ll_restaurants.csv')
df_filtered = pd.read_csv('df_filtered.csv')

In [3]:
freq_df_ll.drop(['lat','long'],axis=1,inplace=True)

In [4]:
london_df = pd.merge(df_filtered.rename(columns={'Area_name':'Borough'}),freq_df_ll,how='left',on='Borough')

In [5]:
london_df = london_df.dropna()

In [6]:
london_df.head()

,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),latitude,longitude,Borough,Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
0,8800,43.2,11.4,73.1,15.5,152.2,64.6,3.4,84.3,26130,64.3,1692,0.4,7.9,6.6,7.1,6.0,5.6,2.6,51.5155,-0.0922,City of London,10.0,5.0,11.0,5.0,14.0,17.0,1.0,5.0,2.0,1.0,2.0,4.0,4.0,1.0,4.0,3.0,1.0,2.0,2.0,1.0,5.0,1.0,1.0,3.0,1.0,5.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0
1,209000,32.9,27.2,63.1,9.7,59.1,65.8,21.1,0.5,6560,73.0,56966,0.8,18.7,7.1,7.6,7.1,3.1,7.3,51.5607,0.1557,Barking and Dagenham,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
2,389600,37.3,21.1,64.9,14.0,53.1,68.5,18.7,0.7,26190,73.8,144717,1.1,9.3,7.5,7.8,7.4,2.8,6.0,51.6252,-0.1517,Barnet,0.0,0.0,1.0,0.0,5.0,0.0,0.0,3.0,0.0,2.0,0.0,0.0,1.0,0.0,3.0,3.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
4,332100,35.6,20.9,67.8,11.3,100.9,69.5,17.6,0.6,15745,74.4,87802,0.8,13.7,7.3,7.4,7.2,2.9,7.9,51.5588,-0.2817,Brent,0.0,0.0,0.0,1.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.0
5,327900,40.2,19.9,62.6,17.5,14.4,75.3,13.9,0.6,15695,78.6,153908,1.2,10.2,7.5,7.9,7.4,3.3,5.2,51.4039,0.0198,Bromley,0.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0

In [7]:
london_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 32
Columns: 106 entries, GLA_Population_Estimate_2017 to Nearby Venues Count
dtypes: float64(102), int64(3), object(1)
memory usage: 26.8+ KB

In [8]:
# Normalize data
non_object_column = [x for x in list(london_df.columns.values) if x!='Borough' and x!='latitude' and x!='longitude']
min_max_scaler = preprocessing.MinMaxScaler()
london_df[non_object_column] = min_max_scaler.fit_transform(london_df[non_object_column])
london_df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),latitude,longitude,Borough,Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
0,0.000000,1.000000,0.000000,0.830769,0.766129,1.000000,0.000000,0.000000,1.000000,0.400819,0.033333,0.000000,0.000,0.124294,0.0,0.000,0.0000,1.000000,0.000000,51.5155,-0.0922,City of London,1.0,1.0,1.000000,0.714286,0.666667,1.000000,0.5,1.0,0.666667,0.125,1.0,0.8,1.00,0.25,0.266667,0.6,1.0,1.0,0.333333,0.333333,0.454545,0.5,0.2,0.6,1.0,0.833333,1.0,0.4,0.5,1.0,0.25,0.5,0.181818,0.5,0.5,1.0,1.0,1.0,1.0,1.0,1.0,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000
1,0.525735,0.127119,1.000000,0.061538,0.298387,0.324383,0.080000,0.740586,0.001192,0.000000,0.613333,0.363129,0.500,0.734463,0.5,0.625,0.6875,0.166667,0.796610,51.5607,0.1557,Barking and Dagenham,0.0,0.0,0.000000,0.000000,0.000000,0.058824,0.0,0.0,0.000000,0.125,0.0,0.0,0.00,0.00,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,1.000000,0.500000,0.613924,0.200000,0.645161,0.280842,0.260000,0.640167,0.003576,0.402048,0.666667,0.939619,0.875,0.203390,0.9,0.875,0.8750,0.066667,0.576271,51.6252,-0.1517,Barnet,0.0,0.0,0.090909,0.000000,0.238095,0.000000,0.0,0.6,0.000000,0.250,0.0,0.0,0.25,0.00,0.200000,0.6,0.0,0.0,0.500000,0.333333,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.2,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.2,0.5,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.771930
4,0.849002,0.355932,0.601266,0.423077,0.427419,0.627721,0.326667,0.594142,0.002384,0.188121,0.706667,0.565709,0.500,0.451977,0.7,0.375,0.7500,0.100000,0.898305,51.5588,-0.2817,Brent,0.0,0.0,0.000000,0.142857,0.142857,0.176471,0.0,0.0,0.000000,0.250,0.0,0.2,0.50,0.00,0.866667,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,1.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.0,0.5,0.111111,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.894737
5,0.837973,0.745763,0.537975,0.023077,0.927419,0.000000,0.713333,0.439331,0.002384,0.187097,0.986667,1.000000,1.000,0.254237,0.9,1.000,0.8750,0.233333,0.440678,51.4039,0.0198,Bromley,0.0,0.0,0.000000,0.142857,0.095238,0.000000,0.0,0.4,0.000000,0.000,0.0,0.2,0.25,0.00,0.200000,0.2,0.0,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.2,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.122807

In [9]:
# set number of clusters
kclusters = 5

london_grouped_clustering = london_df.drop(['Borough','latitude','longitude'], axis=1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 1, 1, 1, 1, 3, 1, 1, 1, 1], dtype=int32)

In [10]:
# add clustering labels
london_grouped_clustering.insert(0, 'Cluster Labels', kmeans.labels_)
london_grouped_clustering.insert(0, 'Borough', london_df['Borough'])
london_grouped_clustering.insert(0, 'latitude', london_df['latitude'])
london_grouped_clustering.insert(0, 'longitude', london_df['longitude'])
london_grouped_clustering.head()

,longitude,latitude,Borough,Cluster Labels,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
0,-0.0922,51.5155,City of London,0,0.000000,1.000000,0.000000,0.830769,0.766129,1.000000,0.000000,0.000000,1.000000,0.400819,0.033333,0.000000,0.000,0.124294,0.0,0.000,0.0000,1.000000,0.000000,1.0,1.0,1.000000,0.714286,0.666667,1.000000,0.5,1.0,0.666667,0.125,1.0,0.8,1.00,0.25,0.266667,0.6,1.0,1.0,0.333333,0.333333,0.454545,0.5,0.2,0.6,1.0,0.833333,1.0,0.4,0.5,1.0,0.25,0.5,0.181818,0.5,0.5,1.0,1.0,1.0,1.0,1.0,1.0,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000
1,0.1557,51.5607,Barking and Dagenham,1,0.525735,0.127119,1.000000,0.061538,0.298387,0.324383,0.080000,0.740586,0.001192,0.000000,0.613333,0.363129,0.500,0.734463,0.5,0.625,0.6875,0.166667,0.796610,0.0,0.0,0.000000,0.000000,0.000000,0.058824,0.0,0.0,0.000000,0.125,0.0,0.0,0.00,0.00,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,-0.1517,51.6252,Barnet,1,1.000000,0.500000,0.613924,0.200000,0.645161,0.280842,0.260000,0.640167,0.003576,0.402048,0.666667,0.939619,0.875,0.203390,0.9,0.875,0.8750,0.066667,0.576271,0.0,0.0,0.090909,0.000000,0.238095,0.000000,0.0,0.6,0.000000,0.250,0.0,0.0,0.25,0.00,0.200000,0.6,0.0,0.0,0.500000,0.333333,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.2,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.2,0.5,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.771930
4,-0.2817,51.5588,Brent,1,0.849002,0.355932,0.601266,0.423077,0.427419,0.627721,0.326667,0.594142,0.002384,0.188121,0.706667,0.565709,0.500,0.451977,0.7,0.375,0.7500,0.100000,0.898305,0.0,0.0,0.000000,0.142857,0.142857,0.176471,0.0,0.0,0.000000,0.250,0.0,0.2,0.50,0.00,0.866667,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,1.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.0,0.5,0.111111,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.894737
5,0.0198,51.4039,Bromley,1,0.837973,0.745763,0.537975,0.023077,0.927419,0.000000,0.713333,0.439331,0.002384,0.187097,0.986667,1.000000,1.000,0.254237,0.9,1.000,0.8750,0.233333,0.440678,0.0,0.0,0.000000,0.142857,0.095238,0.000000,0.0,0.4,0.000000,0.000,0.0,0.2,0.25,0.00,0.200000,0.2,0.0,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.2,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.122807

### Let's visualize first the borough position

In [11]:
# create map of London using latitude and longitude values
latitude = 51.5073219
longitude = -0.1276474
map_l = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, label in zip(london_df['latitude'], london_df['longitude'], london_df['Borough']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_l)  
    
map_l

### Now let's see the five clusters

In [12]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['latitude'], 
                                  london_grouped_clustering['longitude'], 
                                  london_grouped_clustering['Borough'], 
                                  london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Cluster 1

In [13]:
cl1 = london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 0, london_grouped_clustering.columns[[2] + list(range(4, london_grouped_clustering.shape[1]))]]
cl1

,Borough,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
0,City of London,0.0,1.0,0.0,0.830769,0.766129,1.0,0.0,0.0,1.0,0.400819,0.033333,0.0,0.0,0.124294,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.714286,0.666667,1.0,0.5,1.0,0.666667,0.125,1.0,0.8,1.0,0.25,0.266667,0.6,1.0,1.0,0.333333,0.333333,0.454545,0.5,0.2,0.6,1.0,0.833333,1.0,0.4,0.5,1.0,0.25,0.5,0.181818,0.5,0.5,1.0,1.0,1.0,1.0,1.0,1.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
# As we can see this cluster is unique because it is indeed not a borough.

In [15]:
restaurants = [x for x in list(london_grouped_clustering.columns.values) if 'Restaurant' in x]
print(restaurants)

['Vietnamese Restaurant', 'Falafel Restaurant', 'French Restaurant', 'Seafood Restaurant', 'Italian Restaurant', 'Restaurant', 'German Restaurant', 'Sushi Restaurant', 'Modern European Restaurant', 'Chinese Restaurant', 'South American Restaurant', 'English Restaurant', 'American Restaurant', 'Ramen Restaurant', 'Indian Restaurant', 'Mediterranean Restaurant', 'Empanada Restaurant', 'Portuguese Restaurant', 'Turkish Restaurant', 'Spanish Restaurant', 'Japanese Restaurant', 'Szechuan Restaurant', 'Vegetarian / Vegan Restaurant', 'Asian Restaurant', 'Cantonese Restaurant', 'Tapas Restaurant', 'Israeli Restaurant', 'Lebanese Restaurant', 'Scandinavian Restaurant', 'North Indian Restaurant', 'Korean Restaurant', 'Eastern European Restaurant', 'Middle Eastern Restaurant', 'Kebab Restaurant', 'Argentinian Restaurant', 'Jewish Restaurant', 'Arepa Restaurant', 'Afghan Restaurant', 'Austrian Restaurant', 'Udon Restaurant', 'Caucasian Restaurant', 'Mexican Restaurant', 'Fast Food Restaurant', 'Greek Restaurant', 'Brazilian Restaurant', 'Thai Restaurant', 'Latin American Restaurant', 'Dim Sum Restaurant', 'Belgian Restaurant', 'Malay Restaurant', 'Okonomiyaki Restaurant', 'Peruvian Restaurant', 'Yoshoku Restaurant', 'Ethiopian Restaurant', 'Paella Restaurant', 'Persian Restaurant', 'New American Restaurant', 'Caribbean Restaurant', 'South Indian Restaurant', 'Sri Lankan Restaurant', 'Southern / Soul Food Restaurant', 'Polish Restaurant', 'Doner Restaurant', 'African Restaurant', 'Taiwanese Restaurant', 'Dumpling Restaurant', 'Yakitori Restaurant', 'Veneto Restaurant', 'Moroccan Restaurant', 'Ukrainian Restaurant', 'Bulgarian Restaurant', 'Hunan Restaurant', 'Shaanxi Restaurant', 'Indonesian Restaurant', 'Cajun / Creole Restaurant', 'Filipino Restaurant', 'Australian Restaurant', 'Iraqi Restaurant', 'Pakistani Restaurant', 'Halal Restaurant', 'Scottish Restaurant', 'Russian Restaurant', 'Molecular Gastronomy Restaurant']

In [16]:
# Most frequent restaurants in this cluster
cl1_rest = cl1[restaurants].sum()[cl1[restaurants].sum()>0].sort_values(ascending=False)
cl1_rest.head()

Vietnamese Restaurant    1.0
French Restaurant        1.0
American Restaurant      1.0
Sushi Restaurant         1.0
Empanada Restaurant      1.0
dtype: float64

In [17]:
# Economic situation of cluster 1
cl1_eco = cl1[[x for x in list(london_grouped_clustering.columns.values) if x not in restaurants and x!='Cluster Labels' and x!='longitude' and x!='latitude']].mean(axis=0)
cl1_eco

GLA_Population_Estimate_2017                          0.000000
Average_Age,_2017                                     1.000000
Proportion_of_population_aged_0-15,_2015              0.000000
Proportion_of_population_of_working-age,_2015         0.830769
Proportion_of_population_aged_65_and_over,_2015       0.766129
New_migrant_(NINo)_rates,_(2015/16)                   1.000000
Employment_rate_(%)_(2015)                            0.000000
%_of_employment_that_is_in_public_sector_(2014)       0.000000
Jobs_Density,_2015                                    1.000000
Number_of_active_businesses,_2015                     0.400819
Two-year_business_survival_rates_(started_in_2013)    0.033333
Number_of_cars,_(2011_Census)                         0.000000
Number_of_cars_per_household,_(2011_Census)           0.000000
%_children_living_in_out-of-work_households_(2015)    0.124294
Life_satisfaction_score_2011-14_(out_of_10)           0.000000
Worthwhileness_score_2011-14_(out_of_10)              0.000000
Happiness_score_2011-14_(out_of_10)                   0.000000
Anxiety_score_2011-14_(out_of_10)                     1.000000
People_aged_17+_with_diabetes_(%)                     0.000000
Nearby Venues Count                                   1.000000
dtype: float64

### Cluster 2

In [18]:
cl2 = london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 1, london_grouped_clustering.columns[[2] + list(range(4, london_grouped_clustering.shape[1]))]]
cl2

,Borough,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
1,Barking and Dagenham,0.525735,0.127119,1.000000,0.061538,0.298387,0.324383,0.080000,0.740586,0.001192,0.000000,0.613333,0.363129,0.500,0.734463,0.5,0.625,0.6875,0.166667,0.796610,0.0,0.0,0.000000,0.000000,0.000000,0.058824,0.0,0.0,0.0,0.125,0.0,0.0,0.00,0.00,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,Barnet,1.000000,0.500000,0.613924,0.200000,0.645161,0.280842,0.260000,0.640167,0.003576,0.402048,0.666667,0.939619,0.875,0.203390,0.9,0.875,0.8750,0.066667,0.576271,0.0,0.0,0.090909,0.000000,0.238095,0.000000,0.0,0.6,0.0,0.250,0.0,0.0,0.25,0.00,0.200000,0.6,0.0,0.0,0.500000,0.333333,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.2,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.2,0.5,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.771930
4,Brent,0.849002,0.355932,0.601266,0.423077,0.427419,0.627721,0.326667,0.594142,0.002384,0.188121,0.706667,0.565709,0.500,0.451977,0.7,0.375,0.7500,0.100000,0.898305,0.0,0.0,0.000000,0.142857,0.142857,0.176471,0.0,0.0,0.0,0.250,0.0,0.2,0.50,0.00,0.866667,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,1.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.0,0.5,0.111111,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.894737
5,Bromley,0.837973,0.745763,0.537975,0.023077,0.927419,0.000000,0.713333,0.439331,0.002384,0.187097,0.986667,1.000000,1.000,0.254237,0.9,1.000,0.8750,0.233333,0.440678,0.0,0.0,0.000000,0.142857,0.095238,0.000000,0.0,0.4,0.0,0.000,0.0,0.2,0.25,0.00,0.200000,0.2,0.0,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.2,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.122807
7,Croydon,0.991859,0.474576,0.670886,0.200000,0.564516,0.129898,0.720000,0.698745,0.002384,0.183922,0.766667,0.908952,0.750,0.474576,0.5,0.625,0.7500,0.233333,0.661017,0.1,0.0,0.000000,0.142857,0.142857,0.058824,0.0,0.0,0.0,0.250,0.0,0.0,0.00,0.00,0.400000,0.6,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,0.0,0.0,0.125,0.5,0.090909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.2,0.0,0.111111,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754386
8,Ealing,0.900210,0.406780,0.632911,0.346154,0.467742,0.368650,0.540000,0.426778,0.003576,0.248643,0.800000,0.730232,0.625,0.418079,0.7,0.625,0.8125,0.333333,0.728814,0.2,0.0,0.090909,0.000000,0.238095,0.235294,0.0,0.4,0.0,0.250,0.0,0.2,0.25,0.25,0.400000,0.2,0.0,0.0,0.166667,0.333333,0.272727,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,1.0,0.181818,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.4,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4,1.0,0.000000,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.859649
9,Enfield,0.851366,0.415254,0.721519,0.161538,0.548387,0.213353,0.560000,0.765690,0.002384,0.150845,0.693333,0.774958,0.750,0.661017,0.7,0.625,0.8125,0.000000,0.745763,0.0,0.0,0.000000,0.000000,0.047619,0.117647,0.0,0.0,0.0,0.125,0.0,0.4,0.00,0.00,0.266667,0.0,0.0,0.0,0.333333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.842105
10,Greenwich,0.712447,0.305085,0.664557,0.415385,0.354839,0.168360,0.500000,1.000000,0.001192,0.071685,0.593333,0.502529,0.500,0.644068,0.6,0.625,0.7500,0.266667,0.593220,0.1,0.0,0.000000,0.000000,0.095238,0.000000,0.0,0.0,0.0,0.625,0.0,0.0,0.00,0.00,0.133333,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.6,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754386
14,Harrow,0.639443,0.584746,0.575949,0.169231,0.725806,0.370102,0.620000,0.464435,0.002384,0.176037,0.846667,0.647987,1.000,0.192090,0.7,0.375,0.8125,0.033333,1.000000,0.0,0.0,0.090909,0.000000,0.095238,0.000000,0.0,0.0,0.0,0.250,0.0,0.0,0.00,0.00,0.533333,0.2,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.090909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.6,0.0,0.0,0.111111,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.666667
15,Havering,0.644695,0.754237,0.500000,0.000000,1.000000,0.018868,0.793333,0.723849,0.002384,0.072811,0.766667,0.761694,1.000,0.389831,0.8,0.750,0.7500,0.233333,0.559322,0.0,0.0,0.000000,0.000000,0.047619,0.058824,0.0,0.0,0.0,0.000,0.0,0.4,0.25,0.00,0.066667,0.0,0.0,0.0,0.333333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.912281
16,Hillingdon,0.767332,0.423729,0.626582,0.253846,0.572581,0.155298,0.573333,0.334728,0.007151,0.142243,0.746667,0.793570,1.000,0.372881,0.8,0.750,0.8125,0.300000,0.644068,0.0,0.0,0.000000,0.000000,0.095238,0.117647,0.0,0.0,0.0,0.375,0.0,0.0,0.00,0.00,0.066667,0.0,0.0,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.8,0.0,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.350877
17,Hounslow,0.696954,0.372881,0.613924,0.407692,0.427419,0.348331,0.640000,0.347280,0.007151,0.150538,0.826667,0.606704,0.750,0.440678,0.7,0.625,0.8750,0.266667,0.661017,0.0,0.0,0.000000,0.000000,0.000000,0.117647,0.0,0.0,0.0,0.500,0.0,0.0,0.00,0.00,1.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.6,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.181818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,0.0,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.684211
20,Kingston upon Thames,0.437500,0.483051,0.518987,0.376923,0.580645,0.095065,0.653333,0.573222,0.004768,0.049360,0.866667,0.451523,0.875,0.112994,0.7,0.750,0.8750,0.233333,0.389831,0.1,0.2,0.090909,0.142857,0.238095,0.058824,0.5,0.0,0.0,0.375,0.0,0.0,0.00,0.00,0.333333,0.0,0.0,0.0,0.166667,0.000000,0.272727,0.0,0.2,0.2,0.0,0.166667,0.0,0.2,0.0,0.0,0.000,0.0,0.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.5,0.444444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.824561
22,Lewisham,0.773634,0.305085,0.582278,0.600000,0.266129,0.173440,0.753333,0.895397,0.000000,0.078751,0.640000,0.491505,0.375,0.689266,0.6,0.625,0.8125,0.266667,0.593220,0.0,0.0,0.000000,0.000000,0.047619,0.000000,0.0,0.0,0.0,0.000,0.0,0.0,0.00,0.00,0.066667,0.0,0.0,0.0,0.333333,0.000000,0.090909,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.2,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.087719
23,Merton,0.523372,0.449153,0.582278,0.376923,0.500000,0.248186,0.946667,0.368201,0.003576,0.112852,0.973333,0.467001,0.625,0.265537,0.7,0.500,0.6875,0.333333,0.508475,0.1,0.0,0.000000,0.000000,0.190476,0.058824,0.0,0.6,0.0,0.125,0.0,0.2,0.00,0.00,0.133333,0.0,0.0,0.0,0.000000,0.000000,0.090909,0.0,0.0,0.2,0.0,0.000000,0.0,0.6,0.0,0.0,0.000,0.0,0.181818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.8,0.0,0.5,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.807018
25,Redbridge,0.775735,0.372881,0.721519,0.207692,0.500000,0.291727,0.246667,0.815900,0.001192,0.164567,0.726667,0.687490,0.875,0.231638,0.7,0.625,0.8125,0.200000,0.898305,0.0,0.0,0.000000,0.000000,0.000000,0.058824,0.0,0.0,0.0,0.125,0.0,0.0,0.00,0.00,0.266667,0.0,0.0,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.090909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.4,0.0,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.350877
26,Richmond upon Thames,0.495011,0.627119,0.588608,0.169231,0.709677,0.044993,1.000000,0.326360,0.004768,0.156170,1.000000,0.546762,0.875,0.000000,0.9,0.875,0.8125,0.200000,0.186441,0.0,0.0,0.363636,0.428571,0.428571,0.235294,1.0,0.0,0.0,0.250,0.0,0.2,0.25,0.00,0.533333,0.2,0.0,0.0,0.000000,0.000000,0.181818,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,0.0,0.0,0.666667,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.842105
28,Sutton,0.508929,0.635593,0.588608,0.153846,0.733871,0.012337,0.906667,0.648536,0.002384,0.044035,0.813333,0.588466,1.000,0.220339,0.9,0.750,0.8125,0.200000,0.559322,0.0,0.0,0.090909,0.000000,0.190476,0.058824,0.0,0.0,0.0,0.250,0.0,0.2,0.25,0.00,0.200000,0.0,0.0,0.0,0.333333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.684211

In [19]:
# Most frequent restaurants in this cluster
cl2_rest = cl2[restaurants].sum()[cl2[restaurants].sum()>0].sort_values(ascending=False)
cl2_rest.head()

Indian Restaurant       5.666667
Fast Food Restaurant    5.600000
Chinese Restaurant      4.125000
Brazilian Restaurant    3.000000
Malay Restaurant        3.000000
dtype: float64

In [20]:
# Economic situation of cluster 2
cl2_eco = cl2[[x for x in list(london_grouped_clustering.columns.values) if x not in restaurants and x!='Cluster Labels' and x!='longitude' and x!='latitude']].mean(axis=0)
cl2_eco

GLA_Population_Estimate_2017                          0.718400
Average_Age,_2017                                     0.463277
Proportion_of_population_aged_0-15,_2015              0.630098
Proportion_of_population_of_working-age,_2015         0.252564
Proportion_of_population_aged_65_and_over,_2015       0.569444
New_migrant_(NINo)_rates,_(2015/16)                   0.215086
Employment_rate_(%)_(2015)                            0.601852
%_of_employment_that_is_in_public_sector_(2014)       0.600186
Jobs_Density,_2015                                    0.003046
Number_of_active_businesses,_2015                     0.143318
Two-year_business_survival_rates_(started_in_2013)    0.779630
Number_of_cars,_(2011_Census)                         0.657102
Number_of_cars_per_household,_(2011_Census)           0.770833
%_children_living_in_out-of-work_households_(2015)    0.375392
Life_satisfaction_score_2011-14_(out_of_10)           0.722222
Worthwhileness_score_2011-14_(out_of_10)              0.666667
Happiness_score_2011-14_(out_of_10)                   0.798611
Anxiety_score_2011-14_(out_of_10)                     0.203704
People_aged_17+_with_diabetes_(%)                     0.635593
Nearby Venues Count                                   0.622807
dtype: float64

### Cluster 3

In [21]:
cl3 = london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 2, london_grouped_clustering.columns[[2] + list(range(4, london_grouped_clustering.shape[1]))]]
cl3

,Borough,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
11,Hackney,0.697216,0.144068,0.588608,0.753846,0.096774,0.229318,0.293333,0.615063,0.003576,0.244752,0.866667,0.263494,0.000,0.790960,0.4,0.250,0.6250,0.400000,0.542373,0.2,0.0,0.090909,0.142857,0.142857,0.411765,0.0,0.0,0.333333,0.000,0.0,0.0,0.00,0.25,0.066667,0.0,0.0,0.0,0.500000,0.333333,0.090909,0.0,0.8,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.181818,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000
12,Hammersmith and Fulham,0.463498,0.364407,0.379747,0.769231,0.346774,0.413643,0.860000,0.543933,0.009535,0.154327,0.640000,0.276916,0.125,0.587571,0.8,0.500,0.7500,0.166667,0.305085,0.2,0.4,0.363636,0.000000,0.428571,0.117647,0.0,0.2,0.333333,0.500,0.0,0.0,0.00,0.00,0.533333,0.2,0.0,0.0,0.333333,0.000000,0.545455,0.0,0.2,0.0,0.0,0.333333,0.0,0.2,0.0,0.0,0.000,0.0,0.727273,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.6,0.2,0.0,1.000000,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.754386
13,Haringey,0.706933,0.313559,0.544304,0.646154,0.266129,0.465167,0.446667,0.602510,0.001192,0.125243,0.706667,0.393014,0.250,0.632768,0.6,0.500,0.7500,0.200000,0.559322,0.0,0.0,0.000000,0.000000,0.095238,0.117647,0.0,0.0,0.000000,0.000,0.0,0.0,0.00,0.00,0.400000,0.8,0.0,0.0,0.666667,0.000000,0.000000,0.0,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.000,0.0,0.272727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.6,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.912281
18,Islington,0.584034,0.288136,0.284810,1.000000,0.225806,0.289550,0.533333,0.464435,0.013111,0.318484,0.580000,0.242662,0.000,1.000000,0.6,0.375,0.6875,0.366667,0.406780,0.4,0.0,0.454545,0.285714,0.476190,0.294118,0.0,0.6,0.666667,0.625,0.0,0.4,0.00,0.50,0.200000,1.0,0.0,0.0,0.666667,0.666667,0.272727,0.5,0.4,0.2,0.0,0.333333,0.0,0.0,0.0,0.0,0.250,0.0,0.181818,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.2,0.2,0.0,0.555556,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.877193
21,Lambeth,0.840599,0.262712,0.392405,0.946154,0.145161,0.232946,0.926667,0.824268,0.004768,0.219560,0.000000,0.427675,0.125,0.700565,0.5,0.500,0.7500,0.300000,0.406780,0.0,0.0,0.181818,0.000000,0.047619,0.470588,0.0,0.0,0.666667,0.000,0.5,0.2,0.00,0.25,0.266667,0.4,0.0,1.0,0.166667,0.000000,0.363636,0.0,0.4,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.2,0.5,0.222222,0.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.807018
24,Newham,0.877363,0.059322,0.715190,0.607692,0.080645,0.690856,0.106667,0.824268,0.001192,0.092063,0.413333,0.390235,0.250,0.548023,0.5,0.375,0.7500,0.266667,0.847458,0.0,0.0,0.000000,0.000000,0.095238,0.176471,0.0,0.0,0.000000,0.500,0.0,0.2,0.25,0.00,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.090909,0.0,0.2,0.2,0.0,0.333333,0.0,0.0,0.0,0.0,0.000,0.0,0.181818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.859649
27,Southwark,0.802258,0.254237,0.455696,0.861538,0.153226,0.283745,0.640000,0.644351,0.010727,0.216283,0.640000,0.385938,0.125,0.779661,0.9,0.750,0.8125,0.266667,0.491525,0.4,0.0,0.272727,0.285714,0.333333,0.470588,0.5,0.0,0.666667,0.000,0.0,1.0,0.00,0.50,0.200000,0.2,0.0,0.0,0.333333,1.000000,0.545455,1.0,0.6,0.2,1.0,0.166667,0.0,0.2,0.0,0.0,0.250,0.0,0.090909,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.2,0.5,0.222222,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.859649
29,Tower Hamlets,0.775210,0.000000,0.550633,0.892308,0.000000,0.479681,0.386667,0.531381,0.011919,0.242294,0.393333,0.275247,0.000,0.915254,0.6,0.375,0.7500,0.233333,0.677966,0.0,0.2,0.000000,0.000000,0.285714,0.235294,0.0,0.4,0.333333,0.375,0.0,0.8,0.00,0.25,0.466667,0.0,0.0,0.0,0.666667,0.000000,0.000000,0.0,0.0,0.4,0.0,0.166667,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.2,1.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.982456
30,Waltham Forest,0.702206,0.313559,0.658228,0.430769,0.346774,0.504354,0.566667,0.820084,0.001192,0.091347,0.480000,0.489600,0.500,0.531073,0.6,0.500,0.6875,0.166667,0.644068,0.0,0.0,0.000000,0.000000,0.095238,0.176471,0.0,0.0,0.000000,0.250,0.0,0.0,0.00,0.00,0.066667,0.0,0.0,0.0,0.666667,0.000000,0.000000,0.0,0.4,0.2,1.0,0.166667,0.0,0.0,0.0,0.0,0.000,0.5,0.090909,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.964912
31,Wandsworth,0.819853,0.305085,0.405063,0.807692,0.266129,0.211176,0.946667,0.753138,0.002384,0.248541,0.800000,0.576950,0.375,0.395480,0.8,0.625,0.8750,0.333333,0.271186,0.0,0.0,0.363636,0.142857,0.285714,0.176471,0.0,0.0,0.000000,0.250,0.0,0.2,0.00,0.00,0.200000,0.6,0.0,0.0,0.166667,0.333333,0.181818,0.0,0.0,0.2,0.0,0.000000,0.0,0.2,0.0,0.0,0.125,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.982456

In [22]:
# Most frequent restaurants in this cluster
cl3_rest = cl3[restaurants].sum()[cl3[restaurants].sum()>0].sort_values(ascending=False)
cl3_rest.head()

Turkish Restaurant               4.166667
Mediterranean Restaurant         3.200000
Modern European Restaurant       3.000000
Vegetarian / Vegan Restaurant    3.000000
Thai Restaurant                  2.888889
dtype: float64

In [23]:
# Economic situation of cluster 3
cl3_eco = cl3[[x for x in list(london_grouped_clustering.columns.values) if x not in restaurants and x!='Cluster Labels' and x!='longitude' and x!='latitude']].mean(axis=0)
cl3_eco

GLA_Population_Estimate_2017                          0.726917
Average_Age,_2017                                     0.230508
Proportion_of_population_aged_0-15,_2015              0.497468
Proportion_of_population_of_working-age,_2015         0.771538
Proportion_of_population_aged_65_and_over,_2015       0.192742
New_migrant_(NINo)_rates,_(2015/16)                   0.380044
Employment_rate_(%)_(2015)                            0.570667
%_of_employment_that_is_in_public_sector_(2014)       0.662343
Jobs_Density,_2015                                    0.005959
Number_of_active_businesses,_2015                     0.195289
Two-year_business_survival_rates_(started_in_2013)    0.552000
Number_of_cars,_(2011_Census)                         0.372173
Number_of_cars_per_household,_(2011_Census)           0.175000
%_children_living_in_out-of-work_households_(2015)    0.688136
Life_satisfaction_score_2011-14_(out_of_10)           0.630000
Worthwhileness_score_2011-14_(out_of_10)              0.475000
Happiness_score_2011-14_(out_of_10)                   0.743750
Anxiety_score_2011-14_(out_of_10)                     0.270000
People_aged_17+_with_diabetes_(%)                     0.515254
Nearby Venues Count                                   0.900000
dtype: float64

### Cluster 4

In [24]:
cl4 = london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 3, london_grouped_clustering.columns[[2] + list(range(4, london_grouped_clustering.shape[1]))]]
cl4

,Borough,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
6,Camden,0.613708,0.423729,0.373418,0.669231,0.459677,0.335994,0.306667,0.376569,0.021454,0.508449,0.653333,0.295035,0.125,0.610169,0.5,0.375,0.6875,0.333333,0.220339,0.3,0.2,0.727273,0.428571,0.714286,0.529412,0.0,0.8,1.000000,0.375,0.5,1.0,0.25,1.00,0.466667,0.8,0.0,0.5,1.000000,0.666667,1.000000,0.0,1.0,1.0,0.0,0.666667,0.0,0.2,1.0,0.0,1.0,0.0,0.454545,1.0,0.5,0.0,0.0,0.0,1.0,0.0,0.0,0.666667,0.2,1.0,0.5,0.444444,0.0,0.0,1.0,1.0,1.0,0.666667,1.0,1.0,1.0,0.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.964912
19,Kensington and Chelsea,0.394433,0.669492,0.316456,0.538462,0.669355,0.375907,0.240000,0.472803,0.011919,0.159549,0.713333,0.281468,0.250,0.299435,1.0,0.875,1.0000,0.166667,0.271186,0.0,0.0,0.454545,0.142857,1.000000,0.529412,0.0,0.2,0.666667,1.000,0.0,0.4,0.25,0.25,0.600000,0.6,0.0,0.0,0.333333,0.000000,0.545455,0.0,0.0,0.2,0.0,0.666667,0.0,1.0,0.5,0.0,0.0,0.0,1.000000,1.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.2,1.0,0.0,0.555556,0.0,0.5,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.701754

In [25]:
# Most frequent restaurants in this cluster
cl4_rest = cl4[restaurants].sum()[cl4[restaurants].sum()>0].sort_values(ascending=False)
cl4_rest.head()

Kebab Restaurant              2.000000
Malay Restaurant              2.000000
Greek Restaurant              2.000000
Italian Restaurant            1.714286
Modern European Restaurant    1.666667
dtype: float64

In [26]:
# Economic situation of cluster 4
cl4_eco = cl4[[x for x in list(london_grouped_clustering.columns.values) if x not in restaurants and x!='Cluster Labels' and x!='longitude' and x!='latitude']].mean(axis=0)
cl4_eco

GLA_Population_Estimate_2017                          0.504070
Average_Age,_2017                                     0.546610
Proportion_of_population_aged_0-15,_2015              0.344937
Proportion_of_population_of_working-age,_2015         0.603846
Proportion_of_population_aged_65_and_over,_2015       0.564516
New_migrant_(NINo)_rates,_(2015/16)                   0.355951
Employment_rate_(%)_(2015)                            0.273333
%_of_employment_that_is_in_public_sector_(2014)       0.424686
Jobs_Density,_2015                                    0.016687
Number_of_active_businesses,_2015                     0.333999
Two-year_business_survival_rates_(started_in_2013)    0.683333
Number_of_cars,_(2011_Census)                         0.288252
Number_of_cars_per_household,_(2011_Census)           0.187500
%_children_living_in_out-of-work_households_(2015)    0.454802
Life_satisfaction_score_2011-14_(out_of_10)           0.750000
Worthwhileness_score_2011-14_(out_of_10)              0.625000
Happiness_score_2011-14_(out_of_10)                   0.843750
Anxiety_score_2011-14_(out_of_10)                     0.250000
People_aged_17+_with_diabetes_(%)                     0.245763
Nearby Venues Count                                   0.833333
dtype: float64

### Cluster 5

In [27]:
cl5 = london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 4, london_grouped_clustering.columns[[2] + list(range(4, london_grouped_clustering.shape[1]))]]
cl5

,Borough,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Vietnamese Restaurant,Falafel Restaurant,French Restaurant,Seafood Restaurant,Italian Restaurant,Restaurant,German Restaurant,Sushi Restaurant,Modern European Restaurant,Chinese Restaurant,South American Restaurant,English Restaurant,American Restaurant,Ramen Restaurant,Indian Restaurant,Mediterranean Restaurant,Empanada Restaurant,Portuguese Restaurant,Turkish Restaurant,Spanish Restaurant,Japanese Restaurant,Szechuan Restaurant,Vegetarian / Vegan Restaurant,Asian Restaurant,Cantonese Restaurant,Tapas Restaurant,Israeli Restaurant,Lebanese Restaurant,Scandinavian Restaurant,North Indian Restaurant,Korean Restaurant,Eastern European Restaurant,Middle Eastern Restaurant,Kebab Restaurant,Argentinian Restaurant,Jewish Restaurant,Arepa Restaurant,Afghan Restaurant,Austrian Restaurant,Udon Restaurant,Caucasian Restaurant,Mexican Restaurant,Fast Food Restaurant,Greek Restaurant,Brazilian Restaurant,Thai Restaurant,Latin American Restaurant,Dim Sum Restaurant,Belgian Restaurant,Malay Restaurant,Okonomiyaki Restaurant,Peruvian Restaurant,Yoshoku Restaurant,Ethiopian Restaurant,Paella Restaurant,Persian Restaurant,New American Restaurant,Caribbean Restaurant,South Indian Restaurant,Sri Lankan Restaurant,Southern / Soul Food Restaurant,Polish Restaurant,Doner Restaurant,African Restaurant,Taiwanese Restaurant,Dumpling Restaurant,Yakitori Restaurant,Veneto Restaurant,Moroccan Restaurant,Ukrainian Restaurant,Bulgarian Restaurant,Hunan Restaurant,Shaanxi Restaurant,Indonesian Restaurant,Cajun / Creole Restaurant,Filipino Restaurant,Australian Restaurant,Iraqi Restaurant,Pakistani Restaurant,Halal Restaurant,Scottish Restaurant,Russian Restaurant,Molecular Gastronomy Restaurant,Nearby Venues Count
32,Westminster,0.612658,0.533898,0.28481,0.769231,0.459677,0.417997,0.066667,0.41841,0.046484,1.0,0.333333,0.309547,0.125,0.570621,0.7,0.5,0.6875,0.266667,0.305085,0.0,0.0,1.0,1.0,0.52381,0.764706,0.0,0.2,0.666667,0.375,0.0,0.4,0.75,0.0,0.6,0.6,0.0,0.0,0.0,0.333333,0.454545,0.0,0.2,0.4,1.0,0.333333,1.0,0.0,0.5,1.0,0.375,0.0,0.090909,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.111111,1.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

In [28]:
# Most frequent restaurants in this cluster
cl5_rest = cl5[restaurants].sum()[cl5[restaurants].sum()>0].sort_values(ascending=False)
cl5_rest.head()

Molecular Gastronomy Restaurant    1.0
Latin American Restaurant          1.0
Seafood Restaurant                 1.0
Russian Restaurant                 1.0
Israeli Restaurant                 1.0
dtype: float64

In [29]:
# Economic situation of cluster 5
cl5_eco = cl5[[x for x in list(london_grouped_clustering.columns.values) if x not in restaurants and x!='Cluster Labels' and x!='longitude' and x!='latitude']].mean(axis=0)
cl5_eco

GLA_Population_Estimate_2017                          0.612658
Average_Age,_2017                                     0.533898
Proportion_of_population_aged_0-15,_2015              0.284810
Proportion_of_population_of_working-age,_2015         0.769231
Proportion_of_population_aged_65_and_over,_2015       0.459677
New_migrant_(NINo)_rates,_(2015/16)                   0.417997
Employment_rate_(%)_(2015)                            0.066667
%_of_employment_that_is_in_public_sector_(2014)       0.418410
Jobs_Density,_2015                                    0.046484
Number_of_active_businesses,_2015                     1.000000
Two-year_business_survival_rates_(started_in_2013)    0.333333
Number_of_cars,_(2011_Census)                         0.309547
Number_of_cars_per_household,_(2011_Census)           0.125000
%_children_living_in_out-of-work_households_(2015)    0.570621
Life_satisfaction_score_2011-14_(out_of_10)           0.700000
Worthwhileness_score_2011-14_(out_of_10)              0.500000
Happiness_score_2011-14_(out_of_10)                   0.687500
Anxiety_score_2011-14_(out_of_10)                     0.266667
People_aged_17+_with_diabetes_(%)                     0.305085
Nearby Venues Count                                   1.000000
dtype: float64

In [30]:
df_eco = pd.DataFrame(columns = list(cl1_eco.index.values))
df_eco = pd.concat([df_eco,pd.DataFrame(cl1_eco).T])
df_eco = pd.concat([df_eco,pd.DataFrame(cl2_eco).T])
df_eco = pd.concat([df_eco,pd.DataFrame(cl3_eco).T])
df_eco = pd.concat([df_eco,pd.DataFrame(cl4_eco).T])
df_eco = pd.concat([df_eco,pd.DataFrame(cl5_eco).T])
df_eco.head()

,GLA_Population_Estimate_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015","New_migrant_(NINo)_rates,_(2015/16)",Employment_rate_(%)_(2015),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),"Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)",%_children_living_in_out-of-work_households_(2015),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),People_aged_17+_with_diabetes_(%),Nearby Venues Count
0,0.000000,1.000000,0.000000,0.830769,0.766129,1.000000,0.000000,0.000000,1.000000,0.400819,0.033333,0.000000,0.000000,0.124294,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
0,0.718400,0.463277,0.630098,0.252564,0.569444,0.215086,0.601852,0.600186,0.003046,0.143318,0.779630,0.657102,0.770833,0.375392,0.722222,0.666667,0.798611,0.203704,0.635593,0.622807
0,0.726917,0.230508,0.497468,0.771538,0.192742,0.380044,0.570667,0.662343,0.005959,0.195289,0.552000,0.372173,0.175000,0.688136,0.630000,0.475000,0.743750,0.270000,0.515254,0.900000
0,0.504070,0.546610,0.344937,0.603846,0.564516,0.355951,0.273333,0.424686,0.016687,0.333999,0.683333,0.288252,0.187500,0.454802,0.750000,0.625000,0.843750,0.250000,0.245763,0.833333
0,0.612658,0.533898,0.284810,0.769231,0.459677,0.417997,0.066667,0.418410,0.046484,1.000000,0.333333,0.309547,0.125000,0.570621,0.700000,0.500000,0.687500,0.266667,0.305085,1.000000

In [31]:
df_rest = pd.DataFrame(columns = restaurants)
df_rest = pd.concat([df_rest,pd.DataFrame(cl1_rest).T.set_index(pd.Index([0]))],sort=True).fillna(0)
df_rest = pd.concat([df_rest,pd.DataFrame(cl2_rest).T.set_index(pd.Index([1]))],sort=True).fillna(0)
df_rest = pd.concat([df_rest,pd.DataFrame(cl3_rest).T.set_index(pd.Index([2]))],sort=True).fillna(0)
df_rest = pd.concat([df_rest,pd.DataFrame(cl4_rest).T.set_index(pd.Index([3]))],sort=True).fillna(0)
df_rest = pd.concat([df_rest,pd.DataFrame(cl5_rest).T.set_index(pd.Index([4]))],sort=True).fillna(0)
df_rest.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,Belgian Restaurant,Brazilian Restaurant,Bulgarian Restaurant,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Dim Sum Restaurant,Doner Restaurant,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,German Restaurant,Greek Restaurant,Halal Restaurant,Hunan Restaurant,Indian Restaurant,Indonesian Restaurant,Iraqi Restaurant,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Korean Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Molecular Gastronomy Restaurant,Moroccan Restaurant,New American Restaurant,North Indian Restaurant,Okonomiyaki Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Restaurant,Russian Restaurant,Scandinavian Restaurant,Scottish Restaurant,Seafood Restaurant,Shaanxi Restaurant,South American Restaurant,South Indian Restaurant,Southern / Soul Food Restaurant,Spanish Restaurant,Sri Lankan Restaurant,Sushi Restaurant,Szechuan Restaurant,Taiwanese Restaurant,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Udon Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Veneto Restaurant,Vietnamese Restaurant,Yakitori Restaurant,Yoshoku Restaurant
0,1.0,0.0,1.00,1.0,0.5,0.6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.000000,1.0,0.125,0.0,0.0,0.0,0.5,1.0,0.8,0.0,1.0,0.0,0.0,1.000000,0.5,0.0,0.0,0.0,0.266667,0.0,0.0,1.0,0.666667,0.454545,1.0,0.5,0.250,0.0,0.4,0.0,0.6,0.333333,0.181818,0.666667,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.25,1.000000,0.0,0.5,0.0,0.714286,0.0,1.0,0.0,0.0,0.333333,0.0,1.0,0.5,0.0,0.833333,0.000000,0.333333,1.0,0.0,0.2,0.0,1.0,0.0,0.0
1,0.0,0.5,2.00,0.0,0.0,2.4,0.0,0.0,1.0,3.0,0.0,1.0,0.0,0.166667,0.0,4.125,1.5,2.0,0.0,1.5,0.0,2.0,0.0,0.2,5.6,0.0,0.818182,1.5,1.0,0.0,0.0,5.666667,0.0,0.0,0.0,2.333333,0.909091,0.0,2.0,0.125,0.5,1.0,3.0,2.0,1.333333,0.818182,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.6,0.000000,1.0,0.0,0.25,1.411765,0.0,1.0,0.0,1.000000,0.0,0.0,1.0,1.0,1.000000,1.0,2.0,0.0,0.0,0.166667,2.777778,2.666667,0.0,0.0,0.2,0.0,0.6,0.0,0.0
2,0.0,1.5,0.25,0.0,2.0,1.4,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.500000,1.0,2.500,1.0,0.0,2.0,0.5,0.0,2.8,1.0,0.6,1.0,0.0,1.727273,0.5,1.6,1.0,1.0,2.400000,1.0,0.0,0.0,2.285714,2.090909,0.0,1.5,0.625,1.5,0.6,0.0,3.2,2.333333,1.727273,3.000000,0.0,2.0,1.0,0.0,1.0,0.0,1.0,0.2,1.000000,2.0,1.0,1.75,2.647059,0.0,0.0,0.0,0.857143,1.0,0.5,0.0,0.0,2.333333,0.0,1.2,1.5,1.0,2.666667,2.888889,4.166667,0.0,1.0,3.0,1.0,1.2,1.0,0.0
3,0.0,0.0,0.50,0.0,1.0,1.2,1.0,1.0,1.0,0.5,0.0,0.0,0.0,0.000000,0.0,1.375,0.5,0.0,0.0,0.0,0.0,1.4,1.0,0.2,0.4,1.0,1.181818,0.0,2.0,0.0,0.0,1.066667,0.0,1.0,0.0,1.714286,1.545455,0.0,2.0,1.000,0.0,1.2,2.0,1.4,0.666667,1.454545,1.666667,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.2,0.666667,0.0,0.5,1.25,1.058824,0.0,1.5,0.0,0.571429,0.0,0.5,0.0,0.0,0.666667,0.0,1.0,0.0,0.0,1.333333,1.000000,1.333333,0.0,0.0,1.0,0.0,0.3,0.0,1.0
4,0.0,0.5,0.75,0.0,0.5,0.4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.375,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,1.000000,0.0,0.2,0.0,0.0,0.600000,0.0,0.0,1.0,0.523810,0.454545,0.0,0.0,0.375,1.0,0.0,0.0,0.6,0.000000,0.090909,0.666667,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.333333,0.0,0.0,0.00,0.764706,1.0,0.5,1.0,1.000000,0.0,0.0,0.0,0.0,0.333333,0.0,0.2,0.0,0.0,0.333333,0.111111,0.000000,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [32]:
df_rest[df_rest.index==0].sum()[df_rest[df_rest.index==0].sum()>0].sort_values(ascending=False)

Vietnamese Restaurant            1.000000
Portuguese Restaurant            1.000000
American Restaurant              1.000000
Arepa Restaurant                 1.000000
Austrian Restaurant              1.000000
Cantonese Restaurant             1.000000
Caucasian Restaurant             1.000000
Empanada Restaurant              1.000000
Falafel Restaurant               1.000000
French Restaurant                1.000000
Israeli Restaurant               1.000000
Jewish Restaurant                1.000000
North Indian Restaurant          1.000000
Afghan Restaurant                1.000000
Udon Restaurant                  1.000000
Restaurant                       1.000000
Sushi Restaurant                 1.000000
South American Restaurant        1.000000
Tapas Restaurant                 0.833333
English Restaurant               0.800000
Seafood Restaurant               0.714286
Modern European Restaurant       0.666667
Italian Restaurant               0.666667
Mediterranean Restaurant         0.600000
Asian Restaurant                 0.600000
Argentinian Restaurant           0.500000
Szechuan Restaurant              0.500000
Eastern European Restaurant      0.500000
Kebab Restaurant                 0.500000
German Restaurant                0.500000
Scandinavian Restaurant          0.500000
Japanese Restaurant              0.454545
Lebanese Restaurant              0.400000
Spanish Restaurant               0.333333
Mexican Restaurant               0.333333
Turkish Restaurant               0.333333
Indian Restaurant                0.266667
Korean Restaurant                0.250000
Ramen Restaurant                 0.250000
Vegetarian / Vegan Restaurant    0.200000
Middle Eastern Restaurant        0.181818
Chinese Restaurant               0.125000
dtype: float64

In [33]:
df_rest[df_rest.index==1].sum()[df_rest[df_rest.index==1].sum()>0].sort_values(ascending=False)

Indian Restaurant                  5.666667
Fast Food Restaurant               5.600000
Chinese Restaurant                 4.125000
Brazilian Restaurant               3.000000
Malay Restaurant                   3.000000
Thai Restaurant                    2.777778
Turkish Restaurant                 2.666667
Asian Restaurant                   2.400000
Italian Restaurant                 2.333333
American Restaurant                2.000000
Sushi Restaurant                   2.000000
Doner Restaurant                   2.000000
Mediterranean Restaurant           2.000000
Kebab Restaurant                   2.000000
English Restaurant                 2.000000
Eastern European Restaurant        1.500000
German Restaurant                  1.500000
Dim Sum Restaurant                 1.500000
Restaurant                         1.411765
Mexican Restaurant                 1.333333
Greek Restaurant                   1.000000
Southern / Soul Food Restaurant    1.000000
Belgian Restaurant                 1.000000
New American Restaurant            1.000000
Sri Lankan Restaurant              1.000000
Polish Restaurant                  1.000000
Scandinavian Restaurant            1.000000
Lebanese Restaurant                1.000000
Seafood Restaurant                 1.000000
Spanish Restaurant                 1.000000
South Indian Restaurant            1.000000
Cajun / Creole Restaurant          1.000000
Japanese Restaurant                0.909091
Middle Eastern Restaurant          0.818182
French Restaurant                  0.818182
Persian Restaurant                 0.600000
Vietnamese Restaurant              0.600000
Latin American Restaurant          0.500000
African Restaurant                 0.500000
Ramen Restaurant                   0.250000
Falafel Restaurant                 0.200000
Vegetarian / Vegan Restaurant      0.200000
Caribbean Restaurant               0.166667
Tapas Restaurant                   0.166667
Korean Restaurant                  0.125000
dtype: float64

In [34]:
df_rest[df_rest.index==2].sum()[df_rest[df_rest.index==2].sum()>0].sort_values(ascending=False)

Turkish Restaurant               4.166667
Mediterranean Restaurant         3.200000
Modern European Restaurant       3.000000
Vegetarian / Vegan Restaurant    3.000000
Thai Restaurant                  2.888889
English Restaurant               2.800000
Tapas Restaurant                 2.666667
Restaurant                       2.647059
Chinese Restaurant               2.500000
Indian Restaurant                2.400000
Spanish Restaurant               2.333333
Mexican Restaurant               2.333333
Italian Restaurant               2.285714
Japanese Restaurant              2.090909
Cantonese Restaurant             2.000000
Dumpling Restaurant              2.000000
Brazilian Restaurant             2.000000
Moroccan Restaurant              2.000000
Polish Restaurant                2.000000
Argentinian Restaurant           2.000000
Ramen Restaurant                 1.750000
French Restaurant                1.727273
Middle Eastern Restaurant        1.727273
Greek Restaurant                 1.600000
Kebab Restaurant                 1.500000
Caribbean Restaurant             1.500000
Latin American Restaurant        1.500000
African Restaurant               1.500000
Szechuan Restaurant              1.500000
Asian Restaurant                 1.400000
Vietnamese Restaurant            1.200000
Sushi Restaurant                 1.200000
New American Restaurant          1.000000
Fast Food Restaurant             1.000000
Veneto Restaurant                1.000000
Ukrainian Restaurant             1.000000
Bulgarian Restaurant             1.000000
Cajun / Creole Restaurant        1.000000
Taiwanese Restaurant             1.000000
Caucasian Restaurant             1.000000
Dim Sum Restaurant               1.000000
Shaanxi Restaurant               1.000000
Ethiopian Restaurant             1.000000
Hunan Restaurant                 1.000000
Halal Restaurant                 1.000000
Okonomiyaki Restaurant           1.000000
Pakistani Restaurant             1.000000
Indonesian Restaurant            1.000000
Peruvian Restaurant              1.000000
Yakitori Restaurant              1.000000
Portuguese Restaurant            1.000000
Seafood Restaurant               0.857143
Korean Restaurant                0.625000
Lebanese Restaurant              0.600000
Falafel Restaurant               0.600000
German Restaurant                0.500000
South American Restaurant        0.500000
Eastern European Restaurant      0.500000
American Restaurant              0.250000
Persian Restaurant               0.200000
dtype: float64

In [35]:
df_rest[df_rest.index==3].sum()[df_rest[df_rest.index==3].sum()>0].sort_values(ascending=False)

Malay Restaurant                 2.000000
Greek Restaurant                 2.000000
Kebab Restaurant                 2.000000
Italian Restaurant               1.714286
Modern European Restaurant       1.666667
Japanese Restaurant              1.545455
Scandinavian Restaurant          1.500000
Middle Eastern Restaurant        1.454545
Mediterranean Restaurant         1.400000
English Restaurant               1.400000
Chinese Restaurant               1.375000
Turkish Restaurant               1.333333
Tapas Restaurant                 1.333333
Ramen Restaurant                 1.250000
Asian Restaurant                 1.200000
Lebanese Restaurant              1.200000
Persian Restaurant               1.200000
French Restaurant                1.181818
Indian Restaurant                1.066667
Restaurant                       1.058824
Ethiopian Restaurant             1.000000
Filipino Restaurant              1.000000
Argentinian Restaurant           1.000000
Belgian Restaurant               1.000000
Austrian Restaurant              1.000000
Australian Restaurant            1.000000
Iraqi Restaurant                 1.000000
Yoshoku Restaurant               1.000000
Korean Restaurant                1.000000
New American Restaurant          1.000000
Okonomiyaki Restaurant           1.000000
Paella Restaurant                1.000000
Vegetarian / Vegan Restaurant    1.000000
Thai Restaurant                  1.000000
Sushi Restaurant                 1.000000
Mexican Restaurant               0.666667
Peruvian Restaurant              0.666667
Spanish Restaurant               0.666667
Seafood Restaurant               0.571429
South American Restaurant        0.500000
Portuguese Restaurant            0.500000
Brazilian Restaurant             0.500000
Dim Sum Restaurant               0.500000
American Restaurant              0.500000
Fast Food Restaurant             0.400000
Vietnamese Restaurant            0.300000
Falafel Restaurant               0.200000
dtype: float64

In [36]:
df_rest[df_rest.index==4].sum()[df_rest[df_rest.index==4].sum()>0].sort_values(ascending=False)

Russian Restaurant                 1.000000
Molecular Gastronomy Restaurant    1.000000
Israeli Restaurant                 1.000000
Cantonese Restaurant               1.000000
Seafood Restaurant                 1.000000
Scottish Restaurant                1.000000
French Restaurant                  1.000000
Latin American Restaurant          1.000000
Pakistani Restaurant               1.000000
North Indian Restaurant            1.000000
Restaurant                         0.764706
American Restaurant                0.750000
Modern European Restaurant         0.666667
Mediterranean Restaurant           0.600000
Indian Restaurant                  0.600000
Italian Restaurant                 0.523810
Argentinian Restaurant             0.500000
African Restaurant                 0.500000
Scandinavian Restaurant            0.500000
Japanese Restaurant                0.454545
English Restaurant                 0.400000
Asian Restaurant                   0.400000
Korean Restaurant                  0.375000
Chinese Restaurant                 0.375000
Peruvian Restaurant                0.333333
Spanish Restaurant                 0.333333
Tapas Restaurant                   0.333333
Greek Restaurant                   0.200000
Sushi Restaurant                   0.200000
Vegetarian / Vegan Restaurant      0.200000
Thai Restaurant                    0.111111
Middle Eastern Restaurant          0.090909
dtype: float64